<my-spinner [isRunning]="isRequesting"></my-spinner>
<p-growl [value]="msgs" [life]="3000" [style]="{'width':'22em'}"></p-growl>
<div class="row">
    <div class="heading-main col-sm-12 no-padding">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Segments </li>
        </ul>
        <div class="add-action-btn">
            <a href="javascript:;" class="add_action_btn" (click)="openCreateModal()">
                <i class="fa fa-plus"></i>New Segment
            </a>
        </div>
        <div class="float-right list-icon">
            <a href="javascript:;" [ngClass]="{'active':!isGridView}" (click)="changeSegmentView()"><i class="fa fa-list"></i></a>
            <a href="javascript:;" [ngClass]="{'active':isGridView}" (click)="changeSegmentView()"><i class="fa fa-th-large"></i></a>
        </div>
    </div>
</div>
<div class="row gridDiv" id="gridSegmentView" [hidden]="!isGridView">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <ul class="nav nav-tabs" role="tablist" id="listTab">
                            <li class="nav-item" *ngFor="let tabz of gridSegmentListTabs;let i = index"> 
                                <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active"
                               role="tab" data-toggle="tab" >{{tabz.title}}</a> 
                            </li>
                        </ul>
                        <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()" ><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                        <div id="tabContentMainDiv" class="style-4 tab-content scrollbar">
                            <context-menu></context-menu>
                            <div role="tabpanel" class="tab-pane fade in active show" id="produc">
                                <div class="responsive-table" >
                                    <table id="segmentTbl" class="table table-bordered table-responsive segment-tbl"  dnd-sortable-container [sortableData]="ccrList">
                                           <tr>
                                            <th rowspan="2" style="min-width:163px;padding: 0px 8px !important;">
                                                <a href="javascript:;" class="corner-td col-sm-12 no-padding"
                                                   [ngClass]="{'active': (appliedfilterModels.columns.length > 0 || appliedfilterModels.rows.length > 0 || appliedfilterModels.cells.length > 0 || appliedSearchfilterModels.columns.length > 0 || appliedSearchfilterModels.rows.length > 0 || appliedSearchfilterModels.cells.length > 0)}">
                                                    <span class="ic-f" (click)="openFilterPopup($event)">
                                                        <i class="fa fa-filter"></i>
                                                    </span>
                                                    <span class="corner-td-txt" (click)="openFilterPopup($event)">Filter All</span>
                                                </a>

                                                <a href="javascript:;" class="corner-td col-sm-9 no-padding " [ngClass]="{'active': (appliedViewOptionModel.showObjective || appliedViewOptionModel.showStatus || appliedViewOptionModel.colorBlindSym || appliedViewOptionModel.colorGrouping)}">
                                                   <span class="ic-f mr-t-12px" (click)="openViewOptions($event)">
                                                        <i class="fa fa-eye"></i>
                                                    </span>
                                                    <span class="corner-td-txt mr-t-12px" (click)="openViewOptions($event)">View Options</span>
                                                </a>
                                                <a href="javascript:;" class="col-sm-3 no-padding ">
                                                    <span class="ic-r mr-t-12px" (click)="reloadColorChanges()">
                                                        <i class="fa fa-repeat"></i>
                                                    </span>
                                                </a>
                                                <a href="javascript:;" class="corner-td col-sm-12 no-padding">
                                                    <span class="corner-td-txt mr-t-12px seg-txt" (click)="openFilterPopup($event)">Segments<i class="fa fa-angle-down"></i></span>
                                                </a>

                                            </th>
                                            <th rowspan="2" [hidden]="!appliedViewOptionModel.showObjective" class="table-color-1 event-detector-filter" style="min-width: 68px;color:#464646;"
                                                (contextmenu)="onContextMenu($event,'temp~temp~temp','header')">
                                                Event Detector Filter
                                            </th>
                                            <th [hidden]="appliedfilterModels.columns.length > 0 && appliedfilterModels.columns.indexOf(ccrheader) ==  -1"
                                                [attr.colspan]="headers[ccrheader].length"
                                                *ngFor="let ccrheader of ccrList;let i = index"
                                                [ngClass]="{'last-col':((i+1) == ccrList.length)}" 
                                                dnd-sortable [sortableIndex]="i" (onDropSuccess)="arrangeHeaderSegments($event)">

                                                <span class="table-header-block "
                                                      (contextmenu)="onContextMenu($event,ccrheader == '' ? 'temp~temp~temp': ccrheader,'header')"
                                                      [ngClass]="{'table-color-2': (ccrheader != ''), 'white-bg': (ccrheader == '')}"
                                                      style="height:63px;padding: 15px 0;">
                                                      <span (dblclick)="addNewAttrMenu($event,ccrheader)">{{ccrheader == "" ? "Click Here to add Behavioral DNA" : ccrheader}}</span>
                                                    <span class="top-info" (mouseover)="showBdnaInfo(ccrheader,$event)" (mouseleave)="clearPopupObjects()"><i class="fa fa-info"></i></span>
                                                    <span class="bottom-edit"><i class="fa fa-pencil"></i></span>
                                                </span>
                                                <!--BDNA POP UP -->
                                                <div id="behavioralSelect" class="right-click-pop" *ngIf="ccrheader == '' && showMenu" [ngStyle]="{'left': (bdnaClientX + 'px'),'top': (bdnaClientY + 'px')}" >
                                                     <div class="headerding">
                                                        <i class="fa fa-pencil"></i><span>Select Behavioural DNA</span>

                                                    </div>
                                                    <div class="right-click-pop-content">
                                                        <div class="w-100 ">
                                                            <input type="search" placeholder="Search" [(ngModel)]="elementsQuery" >
                                                        </div>
                                                        <ul class="style-4 scrollbar left-box-list display-inline dropdown-menu caretmenu">
                                                            <li class="dropdown-submenu" *ngFor="let bdnas of behavioralDnas">
                                                                <a id="{{bdnas}}header{{i}}" href="javascript:;" (click)="changeState(bdnas+'header'+i,$event)">
                                                                    <i class="close-caret"></i>{{bdnas}}</a>
                                                                <ul class="dropdown-menu left-side-submenu">
                                                                    <div *ngFor="let dataIndex = index; let data of dataSet | filterarray:elementsQuery">
                                                                        <li class="radio-group dropdown-li w-100"
                                                                        *ngIf="data.type == 'BDNA' && data.parenttype == bdnas && ccrList.indexOf(data.name) == -1">
                                                                        <input id="r-option{{bdnas}}{{i}}{{dataIndex}}" name="success"
                                                                               type="radio" value="{{data.name}}" [(ngModel)]="selectedBdnas"
                                                                               class="dropdown-radio-hide">
                                                                            <label class="radio-label" for="r-option{{bdnas}}{{i}}{{dataIndex}}">{{data.name}}</label>
                                                                            <div class="check-radio">
                                                                                <div class="inside"></div>
                                                                            </div>
                                                                        </li>
                                                                    </div>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <div class="right-click-pop-content-btn">
                                                            <button type="button" class="pink-btn" (click)="setNewBdna()">Save</button>
                                                            <button type="button" class="purple-btn" (click)="clearPopupObjects()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                        <ng-container *ngFor="let ccrheader of ccrList" >
                                            <td class="w-min-100px no-padding br-b-solid" [hidden]="appliedfilterModels.columns.length > 0 && appliedfilterModels.columns.indexOf(ccrheader) ==  -1"
                                                *ngFor="let data of headers[ccrheader];let opindex = index">
                                                <select id="oprSelect{{i}}{{opindex}}" name="oprSelect" class="form-control com-table-select"
                                                        [(ngModel)]="headers[ccrheader][opindex]" (change)="changeSegmentData(ccrheader,opindex)">
                                                    <option *ngFor="let operator of operatorsList" value="{{operator.value}}"
                                                        [disabled]="headers[ccrheader].indexOf(operator.value) > -1">{{operator.name}}</option>
                                                </select>
                                            </td>
                                        </ng-container>
                                        </tr>
                                        <ng-container *ngFor="let sedData of segmentList;let segIndex = index">
                                            <tr [hidden]="appliedfilterModels.rows.length > 0 && appliedfilterModels.rows.indexOf(sedData.id) == -1"
                                                *ngFor="let rowCriteria of sedData.criterias;let rowCriteriaIndex = index;">
                                                <td
                                                    [attr.rowspan]="sedData.criterias.length" *ngIf="rowCriteriaIndex == 0"
                                                    class="table-color-3 tb-pd "
                                                    (contextmenu)="onContextMenu($event,sedData,'segment',0,segIndex)">

                                                    <div class="data-table-name">
                                                        {{sedData.segmentName}}
                                                    </div>
                                                    <div class="version-details">
                                                        <span class="version-num">{{sedData.version}} </span>
                                                        <span class="publish-name" [hidden]="!appliedViewOptionModel.showStatus">{{sedData.status}}</span>
                                                        <span class="cast-detaild live-icon" *ngIf="sedData.isInSimulation">LIVE</span>
                                                        <span class="settings sim-icon" *ngIf="sedData.isInProduction">SIM</span>
                                                        <span class="lock-ab" *ngIf="sedData.isInProduction"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                                <td style="width: 68px;"
                                                    [hidden]="!appliedViewOptionModel.showObjective"
                                                    [ngClass]="{'row-disabled': (sedData.isInProduction), 'white-bg-enable': (!sedData.isInProduction),
                                                    'br-b-dasshedd':sedData.criterias.length > 1 && (rowCriteriaIndex + 1) != sedData.criterias.length}"
                                                    class="border-top border-left tb-pd" [attr.contenteditable]='true'
                                                    (input)="onRowClick($event, sedData.id)">
                                                    <div class="or-pos" *ngIf="sedData.criterias.length > 1 && (rowCriteriaIndex + 1) !== sedData.criterias.length">OR</div>
                                                </td>
                                            <ng-container *ngFor="let ccrheader of ccrList;let headerId = index;">
                                                <td style="position: relative;" [ngClass]="{'br-r-dasshedd':headers[ccrheader].length > 1 && (opIndex + 1) != headers[ccrheader].length,
                                                    'br-b-dasshedd':sedData.criterias.length > 1 && (rowCriteriaIndex + 1) != sedData.criterias.length,
                                                    'border-top-none':segIndex == 0,
                                                    'search-filter-color':((appliedSearchfilterModels.columns.indexOf(ccrheader) > -1 || appliedSearchfilterModels.columns.length == 0)
                                                    && (appliedSearchfilterModels.rows.indexOf(sedData.id) > -1 || appliedSearchfilterModels.rows.length == 0)
                                                    && (appliedSearchfilterModels.cells == '' || appliedSearchfilterModels.cells.split(',').indexOf(rowCriteria[ccrheader].operations[data].value) > -1)
                                                    && (appliedSearchfilterModels.rows.length > 0 || appliedSearchfilterModels.columns.length > 0))}"
                                                    (contextmenu)="onContextMenu($event,rowCriteria,'cell',rowCriteriaIndex,segIndex)"
                                                    [hidden]="appliedfilterModels.columns.length > 0 && appliedfilterModels.columns.indexOf(ccrheader) ==  -1"
                                                    class="data mn-height-50 vertical-align-md no-padding text-center"
                                                    (dblclick)="toggle(headerId,opIndex,segIndex,rowCriteriaIndex,ccrheader,data);"
                                                    *ngFor="let data of headers[ccrheader];let opIndex = index">
                                                    <div [ngSwitch]="rowCriteria[ccrheader].type"
                                                        *ngIf="((''+segIndex +rowCriteriaIndex+ headerId + opIndex) === editRowId)">
                                                        <div class="comp-controll" *ngSwitchCase="'text'">
                                                            <input id="val{{segIndex}}{{rowCriteriaIndex}}{{headerId}}{{opIndex}}"
                                                                   [(ngModel)]="rowCriteria[ccrheader].operations[data].value" (blur)="editRowId = ''"/>
                                                        </div>
                                                        <div class="multi-select-btn" *ngSwitchCase="'select'">
                                                            <ss-multiselect-dropdown [buttonId]="'val'+segIndex +rowCriteriaIndex+ headerId + opIndex"
                                                                (dropdownClosed)="editRowId = ''"   [options]="myOptions" [settings]="mySettings"
                                                                [(ngModel)]="rowCriteria[ccrheader].operations[data].selectedVal"
                                                                (ngModelChange)="setModelValue($event,segIndex,rowCriteriaIndex,ccrheader,data)">
                                                        </ss-multiselect-dropdown>
                                                    </div>
                                                </div>
                                                <div class="pd-all-5" *ngIf="((''+segIndex +rowCriteriaIndex+ headerId + opIndex) !== editRowId)">
                                                     {{(rowCriteria != undefined && rowCriteria[ccrheader] !== undefined && rowCriteria[ccrheader].operations != undefined && rowCriteria[ccrheader].operations[data] != undefined) ? rowCriteria[ccrheader].operations[data].value : ""}}
                                            </div>
                                            <span class="bottom-edit"><i class="fa fa-pencil"></i></span>
                                        </td>
                                    </ng-container>
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                        <!-- Filter pop up -->
                        <div class="right-click-pop filter-pop-up" *ngIf="showFilterPopup" id="filterPopup" [ngStyle]="{'left': (filterClientX + 'px'),'top': (filterClientY + 'px')}">
                            <div class="headerding">
                                <i class="fa fa-pencil"></i><span>Define Filter Criteria</span>

                            </div>
                            <div class="right-click-pop-content">
                                <div class="form-row" >
                                    <label>Column</label>
                                    <ss-multiselect-dropdown [buttonId]="filterBox"
                                        [options]="columnList" [settings]="mySettings"
                                        [(ngModel)]="filterModels.columns" ></ss-multiselect-dropdown>
                                </div>
                                <div class="form-row">
                                    <label>Row</label>
                                    <ss-multiselect-dropdown [buttonId]="filterBox"
                                        [options]="rowList" [settings]="mySettings"
                                        [(ngModel)]="filterModels.rows" ></ss-multiselect-dropdown>
                                </div>
                                <div class="form-row">
                                    <label>Cell</label>
                                    <input type="text" id="cellValue" name="cellValue" [(ngModel)]="filterModels.cells">
                                </div>

                                <div class="right-click-pop-content-btn">
                                    <button type="button" class="pink-btn filter" (click)="applyFilter()">Filter</button>
                                    <button type="button" class="pink-btn" (click)="searchSegments()">Search</button>
                                    <button type="button" class="purple-btn" (click)="clearPopupObjects()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!-- View Option pop up -->
                        <div class="right-click-pop view-pop-up" *ngIf="showViewOptionsPopup" id="viewOPtionPopup" [ngStyle]="{'left': (viewOptionClientX + 'px'),'top': (viewOptionClientY + 'px')}">
                            <div class="headerding">
                                <i class="fa fa-pencil"></i><span>Define View Options</span>

                            </div>
                            <div class="right-click-pop-content">
                                <div class="form-row">
                                    <input [(ngModel)]="viewOptionModel.showObjective" type="checkbox" name="checkboxG" id="checkboxG3" class="css-checkbox" />
                                    <label for="checkboxG3" class="css-label">Show Objective</label>
                                </div>
                                <div class="form-row">
                                    <input [(ngModel)]="viewOptionModel.showStatus" type="checkbox" name="checkboxG" id="checkboxG4" class="css-checkbox" />
                                    <label for="checkboxG4" class="css-label">Show Status</label>
                                </div>
                                <div class="line"></div>
                                <div class="form-row">
                                    <input [(ngModel)]="viewOptionModel.colorBlindSym" type="checkbox" name="checkboxG" id="checkboxG5" class="css-checkbox" />
                                    <label for="checkboxG5" class="css-label">Colour Blind Symbols</label>
                                </div>
                                <div class="form-row">
                                    <input [(ngModel)]="viewOptionModel.colorGrouping" type="checkbox" name="checkboxG" id="checkboxG6" class="css-checkbox" />
                                    <label for="checkboxG6" class="css-label">Colour Grouping</label>
                                </div>

                                <div class="right-click-pop-content-btn">
                                    <button type="button" class="pink-btn" (click)="applyViewOptions()">Save</button>
                                    <button type="button" class="purple-btn" (click)="clearPopupObjects()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!-- View Option pop up -->
                        <div class="right-click-pop view-pop-up" *ngIf="showBdnaInfoPopup" id="bdnaInfoPopup" [ngStyle]="{'left': (bdnaInfoClientX + 'px'),'top': (bdnaInfoClientY + 'px')}">
                            <div class="headerding">
                                <i class="fa fa-info-circle"></i><span>{{bdnaInfo.name}}</span>

                            </div>
                            <div class="right-click-pop-content">
                                {{bdnaInfo.description}}
                            </div>
                        </div>
                        <div class="w-100 clearfix footer-button">
                            <div class="float-right">
                                <button type="button" class="purple-btn">Cancel</button>
                                <button type="submit" class="pink-btn mr-2" style="width: 108px;">Save & Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div id="listSegmentView" [hidden]="isGridView">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12 view-eds" [hidden]=openAddPageFlag>
                <div class="row">
                    <div class="box-main expand-big mainTopTable">
                        <div class="right-side-table" style="position: relative;">
                            <ul class="nav nav-tabs" role="tablist" id="listTab">
                                <li class="nav-item" *ngFor="let tabz of listSegmentListTabs;let i = index"> 
                                    <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active"
                                   role="tab" data-toggle="tab" (click)="setTabParameters(tabz.shortName,i);">{{tabz.title}}</a> 
                                </li>
                            </ul>
                            <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()" ><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                            <!-- Tab panes -->
                            <div id="tabContentMainDiv" class="style-4 tab-content scrollbar expand-div wide-div">
                                <context-menu></context-menu>
                                <div role="tabpanel" class="tab-pane fade in" id="produc" [class.show]="listSegmentListTabs[0].active" [class.active]="listSegmentListTabs[0].active">
                                    <input class="col-md-2" #gbProd [(ngModel)]="configSearchProd" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'prod')">  
                                           <!--Data Table--> 
                                           <div class="overflow-x">
                                        <div *ngIf="productionSegmentList?.length > 0 ">
                                            <p-dataTable id="prodTable" selectionMode="single" [rows]="20" [paginator]="true" [pageLinks]="3"
                                                         (onRowSelect)="openUpdateTemplate($event)"
                                                         [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbProd" [value]="productionSegmentList" sortMode="multiple">
                                                <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                    <template pTemplate="header">
                                                        <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                    </template>
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{i+1}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="segmentName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span (contextmenu)="onListContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                                <p-column field="objective" header="Objective"  [sortable]="true" [style]="{'width':'150px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span class="live-icon" >LIVE</span>
                                                            <span class="sim-icon" >SIM</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                    <div class="bordered-box" *ngIf="productionSegmentList?.length == 0 ">
                                        <div class="drag-txt">
                                            <p class="bold-txt">Segment List</p> <span>
                                                <span class="color-red">Add</span> a new Segment</span>
                                        </div>
                                    </div>
                                    <!-- End Data Table -->
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="simul" [class.show]="listSegmentListTabs[1].active" [class.active]="listSegmentListTabs[1].active">
                                    <input class="col-md-2" #gbSimul [(ngModel)]="configSearchSimul" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'simul')"> 
                                           <!--Data Table--> 
                                           <div class="overflow-x">
                                        <div *ngIf="simulationSegmentList?.length > 0 ">
                                            <p-dataTable id="simulTable" [rows]="20" [paginator]="true" [pageLinks]="3" 
                                                         (onRowSelect)="openUpdateTemplate($event)"
                                                         [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [globalFilter]="gbSimul" 
                                                         [value]="simulationSegmentList" sortMode="multiple">
                                                <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                    <template pTemplate="header">
                                                        <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                    </template>
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{i+1}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="segmentName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span (contextmenu)="onListContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                                <p-column field="objective" header="Objective"  [sortable]="true" [style]="{'width':'150px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span class="live-icon" >LIVE</span>
                                                            <span class="sim-icon" >SIM</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                    <div class="bordered-box" *ngIf="simulationSegmentList?.length == 0 ">
                                        <div class="drag-txt">
                                            <p class="bold-txt">Segment List</p> <span>
                                                <span class="color-red">Add</span> a new Segment</span>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="config" [class.show]="listSegmentListTabs[2].active" [class.active]="listSegmentListTabs[2].active">
                                    <input class="col-md-2" #gbConfig [(ngModel)]="configSearch" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'config')"> 
                                           <!--Data Table--> 
                                           <div class="overflow-x">
                                        <div *ngIf="configurationSegmentList?.length > 0 ">
                                            <p-dataTable [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" 
                                                (onRowSelect)="openUpdateTemplate($event)"
                                                selectionMode="single" id="configTable" [globalFilter]="gbConfig" 
                                                [value]="configurationSegmentList" sortMode="multiple">
                                                <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                    <template pTemplate="header">
                                                        <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                    </template>
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{i+1}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="segmentName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span (contextmenu)="onListContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                                <p-column field="objective" header="Objective"  [sortable]="true" [style]="{'width':'150px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span class="live-icon" >LIVE</span>
                                                            <span class="sim-icon" >SIM</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                    <div class="bordered-box" *ngIf="configurationSegmentList?.length == 0 ">
                                        <div class="drag-txt">
                                            <p class="bold-txt">Segment List</p> <span>
                                                <span class="color-red">Add</span> a new Segment</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" [hidden]="!showUpdateScreen" class="crud-div">
                <div class="mt-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="box-main">
                                <div class="activation-box-main">
                                    <div class="activation-box-main-heading">Config Space
                                        <div class="expand" onclick="expandDiv('crud-div', 'view-eds')" (click)="togglePage()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                    </div>
                                    <div class="fix-height-305" [hidden]="showEnlargedScreen">
                                        <form novalidate="" #segmentForm="ngForm" (ngSubmit)="onSubmit(segmentForm)">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="activation-box mb-5">
                                                            <label for="segmentName" class="col-sm-12 row">Name</label>
                                                            <div class="row col-sm-12">
                                                                <input id="segmentName" [ngClass]="{'error-box':segmentName.errors && submittedFlag && segmentName.errors.required}" required #segmentName="ngModel" name="segmentName" type="text" class="w-100 grey-bold-text col-sm-5" [(ngModel)]="segmentObj.segmentName">
                                                                       <span class="col-sm-4">{{segmentObj.version}} Version</span>
                                                                <div class="col-sm-3">
                                                                    <button type="button" class="red-btn  margin-top" data-toggle="modal" data-target="#segmentRuleBuilderModal">Criteria</button><br/>
                                                                    <span *ngIf="(!segmentObj.criteriaExpression || segmentObj.criteriaExpression == null || segmentObj.criteriaExpression == '') && submittedFlag" [ngClass]="{'color-red':(!segmentObj.criteriaExpression || segmentObj.criteriaExpression == null || segmentObj.criteriaExpression == '') && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="activation-box mb-5">
                                                            <label for="objective">Objective</label>
                                                            <select class="form-control" id="segObjective" name="segObjective" [(ngModel)]="segmentObj.objective">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-10">
                                                <div class="col-md-4">
                                                    <div class="activation-box min-height-100">
                                                        <label for="segmentDesc">Description</label>
                                                        <textarea id="segmentDesc" #segmentDesc="ngModel" name="segmentDesc" class="w-100 grey-text" [(ngModel)]="segmentObj.segmentDesc"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 clearfix footer-button">
                                                <div class="float-right">
                                                    <button type="button" [ngClass]="{'white-btn':!form.dirty,'purple-btn':form.dirty}"  [disabled]="(!form.dirty)" (click)="checkCancelChanges()">Cancel</button>
                                                    <button type="submit" class="mr-2" [ngClass]="{'white-btn':!form.dirty,'pink-btn':form.dirty}"  [disabled]="(!form.dirty)" >Save</button>  
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="style-4" class="w-100 fix-height-555 scrollbar" [hidden]="!(showEnlargedScreen || openAddPageFlag)">
                                         <div class="eventCreatForm">
                                            <div class="eventCreatFormTitle col-sm-12">
                                                <h5>Create a New Segment</h5>
                                                <p>Fill in the configuration criteria below to save a new Segment to Drafts.</p>
                                            </div>
                                            <div class="creatEventForm">
                                                <form novalidate="" #suppressionForm="ngForm" (ngSubmit)="onSubmit(suppressionForm)">
                                                    <div class="col-md-6">
                                                        <div class="activation-box mb-5">
                                                            <label for="segmentName" class="col-sm-12 row">Name</label>
                                                            <div class="row col-sm-12">
                                                                <input id="segmentName" [ngClass]="{'error-box':segmentName.errors && submittedFlag && segmentName.errors.required}" required #segmentName="ngModel" name="segmentName" type="text" class="w-100 grey-bold-text col-sm-5" [(ngModel)]="segmentObj.segmentName">
                                                                       <span class="col-sm-4">{{segmentObj.version}} Version</span>
                                                                <div class="col-sm-3">
                                                                    <button type="button" class="red-btn  margin-top" data-toggle="modal" data-target="#segmentRuleBuilderModal">Criteria</button><br/>
                                                                    <span *ngIf="(!segmentObj.criteriaExpression || segmentObj.criteriaExpression == null || segmentObj.criteriaExpression == '') && submittedFlag" [ngClass]="{'color-red':(!segmentObj.criteriaExpression || segmentObj.criteriaExpression == null || segmentObj.criteriaExpression == '') && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="activation-box mb-5">
                                                            <label for="objective">Objective</label>
                                                            <select class="form-control" id="segObjective" name="segObjective" [(ngModel)]="segmentObj.objective">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="activation-box min-height-100">
                                                            <label for="segmentDesc">Description</label>
                                                            <textarea id="segmentDesc" #segmentDesc="ngModel" name="segmentDesc" class="w-100 grey-text" [(ngModel)]="segmentObj.segmentDesc"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="w-100 clearfix footer-button">
                                                        <div class="float-right">
                                                            <button type="button" [ngClass]="{'white-btn':!form.dirty,'purple-btn':form.dirty}"  [disabled]="(!form.dirty)" (click)="checkCancelChanges()">Cancel</button>
                                                            <button type="submit" class="mr-2" [ngClass]="{'white-btn':!form.dirty,'pink-btn':form.dirty}"  [disabled]="(!form.dirty)" >Save</button>  
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog class="p-model" [(visible)]="createSegmentdisplay" modal="modal" width="500" responsive="true">
    <p-header>
        <div class="row col-md-12">
            <div class="col-md-12">
                <h4>Create a New Segment</h4>
            </div>
            <div class="col-md-12">
                <h5>This Segment will be added to Drafts once saved.</h5>
            </div>
        </div>
    </p-header>
    <form novalidate="" #segmentForm="ngForm" (ngSubmit)="addNewSegment(segmentForm)">
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="activation-box m-r-b-0">
                    <label for="segmentName">Name</label>
                    <div class="row col-md-12">
                        <input id="segmentName" required name="segmentName" type="text" class="col-md-10 w-100 grey-bold-text" [ngClass]="{'error-box':segmentName.errors && submittedFlag && segmentName.errors.required}" #segmentName="ngModel"  [(ngModel)]="newSegment.segmentName">
                               <span class="col-md-2 nopd-line30">{{newSegment.version}}  Version</span>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="activation-box">
                    <label for="description">Objective</label>
                    <select class="form-control">
                        <option>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="activation-box">
                    <label for="description">Description</label>
                    <textarea id="description" #description="ngModel" name="description" class="w-100 grey-text" [(ngModel)]="newSegment.description"></textarea>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="pink-btn mr-2" (click)="addNewSegment(segmentForm)">Save</button>
            <button type="button" class="purple-btn" (click)="closeCreateModal()">Cancel</button>

        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Delete Confirmation" [(visible)]="deleteSegmentdisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to Delete Segment?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="deleteSegmentdisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="deleteSegment()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Archive Confirmation" [(visible)]="archiveSegmentDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to archive Segment?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="archiveSegmentDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="archiveSegment()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelSegmentdisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in Segment?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="rejectSegmentTraversalChanges()">No</button>
            <button type="button" class="pink-btn mr-2" (click)="cancelChangesFlag == 'changeEditCancel' ? cancelUpdateChanges()  : cancelSegments()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
