<header></header>
<div class="col-sm-12">
    <div class="container-fluid">
        <div class="sidemenuHumburgerOpen"></div>
        <div class="sidemenuOpenLeft">
            <div class="menuTitle">Library <a id="leftClose" onclick="closeHamburger()"><i class="fa fa-chevron-left"></i></a></div>
            <ul class="sidemenuOpenLeftUl caretmenu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="caret"></i>Use Cases</a>
                </li>
                <li id="sideDropdown" class="dropdown"> 
                    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="caret"></i> </a>
                    <a [routerLink]="['/eventdetectors']" href="javascript:;" onclick="closeHamburger()">Event Detectors</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item"><a [routerLink]="['/suppressions']" href="javascript:;" onclick="closeHamburger()">Suppressions Rules</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="caret"></i> Offers</a></li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="caret"></i> Segments</a></li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="caret"></i> Rewards</a></li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="caret"></i> Communications</a></li>
            </ul>
        </div>
        <div class="sidemenuHumburger"> <a href="javascript:;" id="leftShow" onclick="openHamburger()"><i class="fa fa-bars"></i></a> 
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="col-sm-12 clearfix">
    <emagine-footer></emagine-footer>
</div>
<p-confirmDialog class="p-model" header="Cancel Confirmation" width="425" width="500" responsive="true" #cd>
    <p-footer>
        <button type="button" class="purple-btn" label="No" (click)="cd.reject()">No</button>
        <button type="button" class="pink-btn" label="Yes" (click)="cd.accept()">Yes</button>
    </p-footer>
</p-confirmDialog>
