<div class="row">
    <div class="heading-main col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item bigFS"> Deployment</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 view-eds">
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <!-- Nav tabs -->
                        <ul id="mb" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a role="tab" data-toggle="tab" class="nav-link active" href="javascript:;"> Approved</a>
                            </li>
                            <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" ><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                        </ul>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content fix-height-385 scrollbar expand-div">
                            <div class="tab-pane fade in active show" id="tab1" role="tabpanel">
                                <div *ngIf="approvedDeployment?.length > 0 ">
                                    <p-dataTable id="approvedDeploys" (onRowSelect)="onRowSelect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [value]="approvedDeployment" sortMode="multiple">
                                        <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                            <template pTemplate="header">
                                                <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                            </template>
                                            <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{i+1}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="packageId" header="Use Case" [sortable]="true" >
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div>
                                                    <span class="bold-font">{{car[col.field]}}</span>
                                                </div>
                                            </template>
                                        </p-column>
                                        <p-column field="deploymentRequestName" header="Label"  [sortable]="true">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{car[col.field]}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="scheduledFor" header="Scheduled For"  [sortable]="true">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{car[col.field]}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="scheduledBy" header="Scheduled By">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{car[col.field]}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="scheduledOn" header="Scheduled On"  [sortable]="true">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{car[col.field]}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="status" header="Status" [sortable]="true">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <div><span>{{car[col.field]}}</span></div>
                                            </template>
                                        </p-column>
                                        <p-column field="" header="" [style]="{'text-align':'left','width':'250px'}">
                                            <template let-col let-car="rowData" pTemplate="body">
                                                <button class="grey-btn" type="button" (click)="cancelApproval('Approved',car,i)">Cancel</button>
                                                <button class="red-btn" type="button" (click)="onDeploy()">Deploy</button>
                                            </template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" class="crud-div">
            <div class="mt-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-main expand-big mainTopTable">
                            <div class="right-side-table" style="position: relative;">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="javascript:;" role="tab" >Pending</a> </li>
                                    <div class="expand" onclick="expandDiv('crud-div', 'view-eds')"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                </ul>
                                <!-- Tab panes -->
                              <!--ra:todo | tabContentMainDiv is a duplicate id | consider to change or add sequential number in front-->
                              <div id="tabContentMainDiv" class="style-4 tab-content fix-height-385 scrollbar">
                                    <div class="tab-pane fade in active show" id="pendingTab" role="tabpanel">
                                        <div *ngIf="pendingDeployment?.length > 0 ">
                                            <p-dataTable id="pendingDeploys" (onRowSelect)="onRowSelect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [value]="pendingDeployment" sortMode="multiple">
                                                <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                    <template pTemplate="header">
                                                        <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                    </template>
                                                    <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{i+1}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="packageId" header="Use Case" [sortable]="true" >
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span class="bold-font">{{car[col.field]}}</span>
                                                        </div>
                                                    </template>
                                                </p-column>
                                                <p-column field="deploymentRequestName" header="Label"  [sortable]="true">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="scheduledFor" header="Scheduled For"  [sortable]="true">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="scheduledBy" header="Scheduled By">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="scheduledOn" header="Scheduled On"  [sortable]="true">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="status" header="Status" [sortable]="true">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </template>
                                                </p-column>
                                                <p-column field="" header="" [style]="{'text-align':'center'}">
                                                    <template let-col let-car="rowData" pTemplate="body">
                                                        <button class="grey-btn" type="button" (click)="cancelApproval('Pending',car,i)">Cancel</button>
                                                    </template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
