<div class="row">
    <div class="heading-main col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item bigFS"> Deployment Request</li>
            <li class="breadcrumb-item" *ngIf="selectedUseCases.length == 0"> Select one or more Use Cases to Deploy</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="row">
                <div class="box-main expand-big scrollbar fix-height-820 mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <!-- Nav tabs -->
                        <ul id="mb" class="nav nav-tabs" role="tablist">
                            <li class="nav-item" *ngFor="let tab of tabs;let i =index;">
                                <a (click)="selectNav(tab,$event,deploymentRequestForm)" role="tab" data-toggle="tab" class="nav-link" [ngClass]="{active:tab.active}" [attr.href]="'#tab' + (i+1)"> {{tab.title}}</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content height-auto">
                            <div class="tab-pane fade in" [ngClass]="{active:selectedTab == 1,show:selectedTab == 1}" id="tab1" role="tabpanel">
                                <div class="height-700 style-4">
                                    <div class="row">
                                        <input class="col-md-2" #gbUsecase [(ngModel)]="usecaseSearch" type="text" placeholder="Search">  
                                    </div>
                                    <!--Data Table--> 
                                    <div *ngIf="useCases?.length > 0 ">
                                        <p-dataTable id="usecaseTbl" (onRowSelect)="onRowSelect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="multiple" [(selection)]="selectedUseCases" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbUsecase" [value]="useCases" sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </template>
                                                <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="useCaseName" header="Name" [sortable]="true" >
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </template>
                                            </p-column>
                                            <p-column field="description" header="Description"  [sortable]="true">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="lastUpdated" header="Last Updated">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="lastUpdatedBy" header="Last Updated By"  [sortable]="true">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="true" [style]="{'text-align':'center'}">
                                                <template let-col let-car="rowData" pTemplate="body">
                                                    <div><span><i class="fa fa-cloud-upload" style="color: #642667;font-size: 24px;"></i>{{car[col.field]}}</span></div>
                                                </template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                    <div class="bordered-box" *ngIf="useCases?.length == 0 ">
                                        <div class="drag-txt">
                                            <p class="bold-txt">Deployment Usecase List</p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="d-inline-block" *ngFor="let usecase of selectedUseCases">
                                                 <span class="selected-usecase">&nbsp; {{usecase.useCaseName}} </span> <span class="selected-usecase text-style-1">Selected</span>
                                                <span *ngIf="usecase.assnCnt > 0"><span class="selected-usecase text-style-1"> & </span><span class="selected-usecase-eclipse"> {{usecase.assnCnt}} </span> <span class="selected-usecase text-style-1"> others were Selected </span>&nbsp;&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 no-padding">
                                            <div class="float-right">
                                                <button type="button" class="red-btn" [disabled]="selectedUseCases.length == 0 " (click)="goToViewChanges()">Next</button>
                                            </div>
                                            <div class="float-right">
                                                <button type="button" class="gray-btn" (click)="clearObjects()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" [ngClass]="{active:selectedTab == 2,show:selectedTab == 2}">
                                <div class="col-sm-12 height-700 style-4"> 
                                    <div class="title_event">
                                        <h3>Use Case Changes <label class="switch pull-right">
                                                <input type="checkbox" [(ngModel)]="showOnlyChanges">
                                                <div class="slider round"></div>
                                            </label></h3>
                                        <p>View changes to selected and affected Use Cases</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="selected-line"><span>Selected</span> <hr></div>
                                    <div *ngFor="let usecase of selectedUseCases">
                                        <div class="col-lg-8 no-padding" *ngIf="!usecase.edsChanged && !usecase.useCaseChanged && !showOnlyChanges ">
                                            <ul class="use_case_placeholder">
                                                <li><i class="fa fa-caret-right caret-lg" aria-hidden="true"></i> {{usecase.useCaseName}}   
                                                    <div class="bg-red" *ngIf="usecase.edsChanged">Changes to Event Detectors</div>
                                                    <div class="bg-red" *ngIf="usecase.useCaseChanged">Changes to Use Case</div>
                                                    <div class="bg-grey" *ngIf="!usecase.edsChanged && !usecase.useCaseChanged && !showOnlyChanges ">No Changes</div></li>
                                                <li> <span class="small_txt_associated">Associated</span>
                                                    <ul class="use_case_placeholder_sub">
                                                        <div *ngFor="let associated of usecase.associatedUseCases">
                                                            <li  *ngIf="!associated.edsChanged && !associated.useCaseChanged && !showOnlyChanges">
                                                                <span class="pull-left">
                                                                    <i class="fa fa-caret-right caret-lg" aria-hidden="true"></i> {{associated.useCaseName}} 
                                                                </span>
                                                                <div class="bg-red pull-left" *ngIf="associated.edsChanged">Changes to EventDetector</div> 
                                                                <div class="bg-red pull-left" *ngIf="associated.useCaseChanged">Changes to Use Case</div>
                                                                <div class="bg-grey pull-left" *ngIf="!associated.edsChanged && !associated.useCaseChanged && !showOnlyChanges">No Changes</div>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="float-right">
                                        <button class="red-btn" type="button" (click)="goToPriorities()">Next</button>
                                    </div>
                                    <div class="float-right">
                                        <button class="gray-btn" type="button" (click)="goToBack()">Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" [ngClass]="{active:selectedTab == 3,show:selectedTab == 3}">
                                <div class="col-sm-12 height-700 style-4">
                                    <div class="title_event">
                                        <h3>Event Detector Priority</h3>
                                        <p>Prioritise Event Detectors throughout all Use Cases</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="row">
                                                    <div class="section_title">Real-Time</div>
                                                    <ul class="priority-ul" dnd-sortable-container [sortableData]="realTime"> 
                                                        <li *ngFor="let data of realTime;let i = index" dnd-sortable [sortableIndex]="i" > 
                                                            <span class="drag-number">{{i+1}}</span>
                                                            <div class="light-pink"> 
                                                                <span class="fa fa-arrows"></span>{{data.eventName}}
                                                            </div>
                                                            <span class="icon-drag"><img src="../../assets/images/swap_icon.png"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-5">
                                                <div class="row">
                                                    <div class="section_title">Batch</div>
                                                    <ul class="priority-ul" dnd-sortable-container [sortableData]="batchEds">
                                                        <li *ngFor="let data of batchEds;let i = index" dnd-sortable [sortableIndex]="i"> 
                                                            <span class="drag-number" >{{i+1}}</span>
                                                            <div class="light-gray"> 
                                                                <span class="fa fa-arrows"></span>{{data.eventName}}
                                                            </div>
                                                            <span class="icon-drag"><img src="../../assets/images/swap_icon.png"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="float-right">
                                        <button class="red-btn" type="button" (click)="goToScheduleDeployment()">Next</button>
                                    </div>
                                    <div class="float-right">
                                        <button class="gray-btn" type="button" (click)="goToBack()">Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4" role="tabpanel" [ngClass]="{active:selectedTab == 4,show:selectedTab == 4}">
                                <form role="form" novalidate="" #deploymentRequestForm="ngForm" (ngSubmit)="goToApproval(deploymentRequestForm)">
                                    <div class="col-sm-12 height-700 style-4">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="title_event">
                                                    <h3>Schedule Deployment</h3>
                                                    <p>Prioritise Event Detectors throughout all Use Cases</p>
                                                </div>
                                                <h5 class="subhead"><img src="../../assets/images/network-upload.png"> Deploying to <b>Production</b></h5>
                                                <div class="col-sm-12 pl-0">
                                                    <ul class="accordion-list">
                                                        <li *ngFor="let usecase of selectedUseCases">
                                                            <i class="fa fa-caret-right size-14" aria-hidden="true"></i> 
                                                            <b>{{usecase.useCaseName}} &amp; </b>
                                                            <span class="circle circle-purple text-center">{{(usecase.assnCnt && usecase.assnCnt > 0) ? usecase.assnCnt : 0}}</span> associated Use Cases
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="w-100 mt-5">
                                                    <div class="creatEventForm">
                                                        <div class="col-sm-12">
                                                            <div class=" form-group">
                                                                <div class="row">
                                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Label</label>
                                                                    <input type="text" class=" col-md-2 col-sm-9 no-padding" id="deploymentRequestName" name="deploymentRequestName"
                                                                           placeholder="Name Deployment Package" [ngClass]="{'error-box':deploymentRequestName.errors && submittedFlag && deploymentRequestName.errors.required}" required #deploymentRequestName="ngModel" [(ngModel)]="deploymentRequestObj.deploymentRequestName">
                                                                </div>
                                                            </div>
                                                            <div class=" form-group">
                                                                <div class="row">
                                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Schedule Deployment</label>
                                                                    <div class="clearfix"></div>
                                                                    <div class="col-sm-4 pl-0"><span class="lbl-normal">Date</span>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <select name="scheduleDeploymentDay" id="scheduleDeploymentDay" class="custom-date-select" [ngClass]="{'error-box':scheduleDeploymentDay.errors && submittedFlag && scheduleDeploymentDay.errors.required}" required #scheduleDeploymentDay="ngModel" [(ngModel)]="deploymentRequestObj.scheduleDeploymentDay">
                                                                                        <option value="{{day+1}}" *ngFor="let day of days">{{day+1}}</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col pl-0 pr-0">
                                                                                <select name="scheduleDeploymentMonth" id="scheduleDeploymentMonth" class="custom-date-select" [(ngModel)]="deploymentRequestObj.scheduleDeploymentMonth" [ngClass]="{'error-box':scheduleDeploymentMonth.errors && submittedFlag && scheduleDeploymentMonth.errors.required}" required #scheduleDeploymentMonth="ngModel" >
                                                                                        <option value="{{month}}" *ngFor="let month of months">{{month}}</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col">
                                                                                <select name="scheduleDeploymentYear" id="scheduleDeploymentYear" class="custom-date-select" [(ngModel)]="deploymentRequestObj.scheduleDeploymentYear" [ngClass]="{'error-box':scheduleDeploymentYear.errors && submittedFlag && scheduleDeploymentYear.errors.required}" required #scheduleDeploymentYear="ngModel" >
                                                                                        <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col-sm-3 pl-0"><span class="lbl-normal">Time</span>
                                                                        <div class="clearfix"></div>

                                                                        <div class="timeSlot-new">
                                                                            <input id="scheduleDeploymentHr" name="scheduleDeploymentHr" class="br-r-b" type="text" [numbersOnly]="''" maxNumber="11" [(ngModel)]="deploymentRequestObj.scheduleDeploymentHr" [ngClass]="{'error-box':scheduleDeploymentHr.errors && submittedFlag && scheduleDeploymentHr.errors.required}" required #scheduleDeploymentHr="ngModel" ><span class="seprater-lg">:</span>
                                                                            <input id="scheduleDeploymentMin" name="scheduleDeploymentMin" class="br-t-l" type="text" [numbersOnly]="''" maxNumber="59" [(ngModel)]="deploymentRequestObj.scheduleDeploymentMin" [ngClass]="{'error-box':scheduleDeploymentMin.errors && submittedFlag && scheduleDeploymentMin.errors.required}" required #scheduleDeploymentMin="ngModel" >
                                                                                   <select id="scheduleDeploymentMeridian" name="scheduleDeploymentMeridian" class="ampm-lg" [(ngModel)]="deploymentRequestObj.scheduleDeploymentMeridian" [ngClass]="{'error-box':scheduleDeploymentMeridian.errors && submittedFlag && scheduleDeploymentMeridian.errors.required}" required #scheduleDeploymentMeridian="ngModel" >
                                                                                   <option value="AM">AM</option>
                                                                                <option value="PM">PM</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Approver</label>

                                                                    <div class="col-sm-2 col-lg-2 pl-0 ">
                                                                        <select name="approver" id="approver" class="custom-date-select " [(ngModel)]="deploymentRequestObj.approver" [ngClass]="{'error-box':approver.errors && submittedFlag && approver.errors.required}" required #approver="ngModel" >
                                                                                <option value="" selected>Select Approver</option>
                                                                            <option value="Manav" selected>Manav</option>
                                                                            <option value="Shreya" selected>Shreya</option>
                                                                            <option value="Subbu" selected>Subbu</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-6 p-3 col-lg-6 lbl-normal lbl-oblique">
                                                                        Selected Aprover will be emailed upon Deployment Request
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Comments</label>
                                                                    <textarea id="comments" name="comments" class="col-sm-4" [(ngModel)]="deploymentRequestObj.comments"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="box-footer">
                                        <div class="float-right">
                                            <button class="red-btn" type="button" *ngIf="!isValidDeployment" (click)="validateDeployment(deploymentRequestForm)">Validate</button>
                                            <button class="red-btn" *ngIf="isValidDeployment">Request Approval</button>
                                        </div>
                                        <div class="float-right">
                                            <button class="gray-btn" type="button" (click)="goToBack()">Back</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab5" role="tabpanel" [ngClass]="{active:selectedTab == 5,show:selectedTab == 5}">
                                <div class="col-sm-12 height-700 style-4">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="title_event">
                                                <h3>Your Deployment is awaiting Approval</h3>
                                                <p>The Approver has been emailed and you will be notified of any progress</p>
                                            </div>
                                            <h5 class="subhead"><span class="fa fa-address-card"></span> Package ID <b>PROD_1641</b></h5>
                                            <div class="col-sm-12 pl-0">
                                                <ul class="accordion-list">
                                                    <li *ngFor="let usecase of selectedUseCases">
                                                        <i class="fa fa-caret-right size-14" aria-hidden="true"></i> 
                                                        <b>{{usecase.useCaseName}} &amp; </b>
                                                        <span class="circle circle-purple text-center">{{(usecase.assnCnt && usecase.assnCnt > 0) ? usecase.assnCnt : 0}}</span> associated Use Cases
                                                        <span class="schedule-text">Scheduled for: </span>
                                                        <span class="schedule-text ampm-time">08/02/17 </span>
                                                        <span class="schedule-text">at</span>
                                                        <span class="schedule-text ampm-time"> 12:30 pm</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <div class="w-100 fix-height-555">
                                                <span class="table-heading-text">Pending</span>
                                                <!--Data Table--> 
                                                <div *ngIf="deploymentReqs?.length > 0 ">
                                                    <p-dataTable id="pendingApproval" (onRowSelect)="onRowSelect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [value]="deploymentReqs" sortMode="multiple">
                                                        <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                            <template pTemplate="header">
                                                                <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                            </template>
                                                            <template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{i+1}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="packageId" header="Use Case" [sortable]="true" >
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div>
                                                                    <span class="bold-font">{{car[col.field]}}</span>
                                                                </div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="deploymentRequestName" header="Label"  [sortable]="true">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{car[col.field]}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="scheduledFor" header="Scheduled For"  [sortable]="true">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{car[col.field]}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="scheduledBy" header="Scheduled By">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{car[col.field]}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="scheduledOn" header="Scheduled On"  [sortable]="true">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{car[col.field]}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="status" header="Status" [sortable]="true">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <div><span>{{car[col.field]}}</span></div>
                                                            </template>
                                                        </p-column>
                                                        <p-column field="" header="" [style]="{'text-align':'center'}">
                                                            <template let-col let-car="rowData" pTemplate="body">
                                                                <button class="grey-btn" type="button" (click)="cancelPendingApproval(car,i)">Cancel</button>
                                                            </template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="float-right">
                                        <button class="red-btn" type="button" (click)="onDone()">Done</button>
                                    </div>
                                    <div class="float-right">
                                        <button class="gray-btn" type="button" (click)="goToBack()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Priority Confirmation" [(visible)]="priorityConfirmDisplay" modal="modal" width="500" responsive="true">
    You have not changed the priority.Do you still want to continue?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="priorityConfirmDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="moveToScheduleDeployment()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
