<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
    <div class="container-fluid w-100">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="w-100">
            <div class="top-menu">
                <!-- LOGO -->
                <div class="col-sm-3 pl-0">
                    <a class="logo" href="javascript:;"><img src="assets/images/logo.png" class="img-fluid" alt="your logo"><span i18n><i>RED</i>.cloud
                        </span></a>
                </div>
                <div class="col-sm-9 pr-0 float-right">
                    <ul class="top-right-menu">
                        <li> <a href="javascript:;" [routerLink]="['/login']" i18n>Logout</a> </li>
                        <li> <a href="javascript:;" i18n>Upgrade</a> </li>
                        <li> <a href="javascript:;"><i class="fa fa-bell fw-2x"></i><span class="notificaion-number">5</span></a> </li>
                    </ul>
                    <div class="top-avtar-change">
                        <div class="avtar-image">
                            <a href="javascript:;"><img src="assets/images/avtar.png" alt=""></a>
                        </div>
                        <div class="avtar-name"><a href="javascript:;" i18n>Maurice Mitchella</a></div>
                        <select [(ngModel)]="selectValue" name="selectLocate" (change)="onChange(selectValue)">
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="main-menu">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="check navbar-nav pos-relative">
                        <li> <a href="javascript:;" class="nav-link subhoverLink  text-uppercase" routerLink="/dashboard" data-id="#nav1sub" i18n>dashboard </a> </li>
                        <li> <a href="javascript:;" class="nav-link subhoverLink text-uppercase" routerLink="/usecases" data-id="#nav2sub" i18n>usecases </a> </li>
                        <li class="nav-item"> <a class="nav-link subhoverLink text-uppercase" href="javascript:;" data-id="#nav3sub" i18n>exploration</a> </li>
                        <li class="nav-item"> <a class="nav-link text-uppercase" href="javascript:;" i18n>connections</a> </li>
                        <li class="nav-item"> <a class="nav-link text-uppercase" href="javascript:;" i18n>monitoriing</a> </li>
                        <li class="nav-item"> <a href="javascript:;" class="nav-link subhoverLink text-uppercase" data-id="#nav6sub" i18n>operations</a> </li>
                        <li class="nav-item"> <a class="nav-link text-uppercase" href="javascript:;" i18n>admin</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--  Submenu  -->
<div class="outer_submenu">
    <div id="nav1sub" class="navsub">
        <ul>
            <li><a tabindex="-1" href="javascript:;" class="dropdown-item">Executive</a></li>
            <li><a tabindex="-1" href="javascript:;" class="dropdown-item">Campaign Analyst</a></li>
            <li><a tabindex="-1" href="javascript:;" class="dropdown-item">Operation Analyst</a></li>
        </ul>
    </div>
    <div id="nav2sub" class="navsub">
        <ul>
            <li><a href="javascript:;" class="dropdown-item " routerLink="/eventdetectors" routerLinkActive="active">Event Detectors</a></li>
            <li><a href="javascript:;" class="dropdown-item" routerLink="/actions">Actions</a></li>
            <li><a href="javascript:;" class="dropdown-item">Offers</a></li>
            <li><a href="javascript:;" class="dropdown-item">Workflows</a></li>
            <li><a href="javascript:;" class="dropdown-item" routerLink="/segments">Segments </a></li>
            <li><a href="javascript:;" class="dropdown-item">Rewards </a></li>
            <li><a href="javascript:;" class="dropdown-item">Communications  </a></li>
            <li><a href="javascript:;" class="dropdown-item">Models </a></li>
        </ul>
    </div>
    <div id="nav3sub" class="navsub">
        <ul>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;">Flow Diagram</a></li>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;">SelfServe</a></li>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;">Customer Base Exploration</a></li>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;">Eyeball</a></li>
        </ul>
    </div>
    <div id="nav6sub" class="navsub">
        <ul>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;" routerLink="/deploymentrequest">Deployment Request</a></li>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;" routerLink="/deployment">Deployment</a></li>
            <li><a tabindex="-1" class="dropdown-item" href="javascript:;" routerLink="/pendingapproval">Pending Approval</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<!--  End Menu -->
