/* CSS Document */
@media (min-width: 1467px) and (max-width: 1500px){
    .drag-block-name{font-size:10px;}
}
@media (min-width: 1301px) and (max-width: 1466px) {
    .activateDate li {
        margin-left: 14px;
    }
    .nav-link {
        padding: 0.5rem;
    }
    .activateDateFormate input[type="text"],.timeSlot input[type="text"] {
        width: 24px;
        font-size: 11px;
    }
    .activateDateFormate select{width: 42px;height: 32px;}
    .drag-block.ml-0.f1{width: 63%;}
    .drag-block-name{font-size: 9px;width:32%;}
    .drag-block-name{width: 40%;}
}

@media (min-width: 1200px) and (max-width: 1300px) {}


@media (min-width: 1025px) and (max-width: 1199px) {}

@media (min-width: 992px) and (max-width: 1024px) {
    .modal-dialog.modal-lg{width:95% !important;}
    .sidemenuOpenLeft {
        width: 25%;
    }
    .nav-link {
        padding: 0.5rem 0.3rem;
    }
    .left-submenu .left-side-submenu li a {
        font-size: 10px;
        line-height: 20px;
    }
    .modal .modal-content .left-box-list{padding-top: 0;}
    .drag-tab li a {
        font-size: 9px;
    }
    .left-submenu .left-side-submenu li {
        width: 80% !important;
    }
    .drag-block-name {
        width: auto;
        font-size: 8px;
    }
    .w-20.red-btn{font-size: 12px;width: 33% !important;}
    .latency input[type="text"]{width: 55%;}
    .box-main .nav-tabs .nav-link {
        font-size: 12px;
    }
    #style-4 ul.drag-ul li a {
        font-size: 8px;
    }
    .activateDate li {
        margin-left: 8px;
    }
    .activateDate li:nth-child(6) {
        margin-left: 8px;
    }
    .activateDateFormate input[type="text"] {
        width: 30px;
    }
    .activateDateFormate li {
        width: 100%;
        margin-bottom: 10px;
    }
    .square-box{width:18px;}
    .activation-box-inner-3{width: 24.5%;}
    .dateExclude span{width:65%;}
    .eventCreatBoxContainer .alert-warning .red-btn{padding: 5px;}
    .drag-rules p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.drag-rules{
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
    .square-box{width:23px;}
    .drag-rules p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.drag-rules{
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
    .top-menu {
        padding-bottom: 10px;
    }
    .sidemenuOpenLeft {
        width: 30%;
    }
    .nav-link {
        padding: 0.5rem 0.3rem;
    }
    .left-submenu .left-side-submenu li a {
        font-size: 10px;
    }
    .drag-tab li a {
        font-size: 9px;
    }
    #mb li.nav-item,
    #mb li.nav-item a {
        font-size: 8px;
        padding: 5px 0;
    }
    .box-main .nav-tabs .nav-link.active {
        min-height: inherit;
    }
    .box-main .tab-content.fix-height-385 input[type='search'] {
        max-width: 100%;
    }
    .left-submenu .left-side-submenu li {
        width: 80% !important;
    }
    .activateDateFormate li {
        width: 100%;
        margin-bottom: 10px;
    }
    .activateDate li,
    .activateDate li:nth-child(6) {
        margin-left: 5px;
    }
    .small.drag-block{width: 200px !important;}
    .activateDateFormate input[type="text"] {
        width: 27px;
    }
    .red-btn {
        font-size: 12px;
        padding: 5px 10px;
    }
    .fix-height-305 {
        overflow-y: auto
    }
    .latency input[type="text"] {
        width: 37%;
    }
    .activation-box-inner-3 {
        max-width: 50%;
    }
    .modal-dialog.modal-lg{width: 95%;}
}


@media (max-width: 767px) {}

@media (min-width: 568px) and (max-width: 767px) {}

@media (min-width: 240px) and (max-width: 567px) {}