/*===== Common Class =====*/

body {
    padding: 0 !important;
    margin: 0 !important;
    background: #F9F9F9;
    font-family: 'gt_walsheim_regularregular' !important;
    font-size: 14px;
}

html {
    -webkit-font-smoothing: antialiased;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:hover,
button,
button:hover {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a:focus,
a:active,
a:hover {
    text-decoration: none;
}

a:focus,
select:focus {
    outline: none;
}

a,
input,
button,
textarea {
    outline: none !important;
}

:focus {
    outline: none;
}


/*===== Common Class =====*/

.float_none {
    float: none !important;
}

.main_wapper {
    width: 100%;
    float: left;
}


/*=========================================*/


/* Bootstrap Class Overwrite */


/*=========================================*/

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: block !important;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .navbar-nav li.nav-item {
        float: left;
        width: auto;
    }
    .navbar-toggler {
        display: none;
    }
}

.breadcrumb {
    background: none !important;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
}

.breadcrumb-item::before {
    content: '\f054' !important;
    font-family: 'FontAwesome';
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: -10px;
    color: #838383 !important;
}

.breadcrumb li:first-child {
    font-weight: bold;
    font-size: 20px;
    padding-left: 0;
    color: #464646;
}

.breadcrumb li:first-child:before {
    display: none;
}

.breadcrumb-item {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    line-height: 30px;
    color: #838383
}

.navbar {
    padding: 0 !important;
}

.table {
    margin-bottom: 0;
    table-layout: fixed;
    /*display: table;*/

}

.navbar-toggler {
    margin-top: 18px;
    border: none;
    margin-left: 20px;
}

.navbar-toggler-right {
    right: 0px !important;
}

.navbar-nav li.dropdown:hover .dropdown-menu {
    display: block;
}

.bg-inverse {
    background: #642667 !important;
}

.main-menu .navbar-nav li:first-child a {
    padding-left: 0
}

.main-menu .navbar-nav li a:hover {
    color: #fff !important;
}
/* Drop Down */
.sidemenuOpenLeftUl .dropdown-toggle::after {
    display: none;
}

.sidemenuOpenLeftUl .dropdown-menu {
    background: none;
    border: none;
    min-width: inherit !important;
    width: auto;
    top: 30px;
    margin: 0;
    padding: 0;
}

.sidemenuOpenLeftUl .dropdown-menu li {
    float: left;
}

.sidemenuOpenLeftUl .dropdown-item {
    width: auto !important;
    float: left !important;
    color: rgba(255, 255, 255, .5) !important;
    padding: 0 10px;
}

.sidemenuOpenLeftUl .dropdown-item:hover {
    background: transparent;
}

.sidemenuOpenLeftUl .dropdown-menu li:first-child a {
    padding-left: 0
}

.sidemenuOpenLeftUl .dropdown {
    position: static;
}
/* End Drop Down */

.pos-relative {
    position: relative;
}

.main-menu .navbar-nav {
    width: 100%;
}


/*=========================================*/


/* Main Header */


/*=========================================*/

#header {
    width: 100%;
    float: left;
}

.logo {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
}


/*=========================================*/


/* Main Content */


/*=========================================*/

.main-menu {
    float: left;
    width: 100%;
}

.top-menu {
    width: 100%;
    float: left;
    display: block;
    border-bottom: 1px solid #fff;
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}

.top-right-menu {
    float: right;
    display: block;
}

.top-right-menu li {
    float: right;
}

.top-right-menu li a {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    position: relative;
}

.top-right-menu li a:hover {
    color: #fff !important;
}

.top-right-menu li:first-child a {
    padding-right: 0;
}

.notificaion-number {
    background: #e40046;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -0.5em;
    left: 1.5em;
    font-size: 11px;
}

.fw-2x {
    font-size: 1.2em !important;
}

.top-avtar-change {
    float: right;
    position: relative;
    display: block;
    padding-right: 10px;
}

.top-avtar-change:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
}

.avtar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    margin-top: -5px;
}

.avtar-image a img {
    max-width: 100%;
    max-height: 100%;
}

.avtar-name {
    padding-left: 10px;
    width: 150px;
    float: left;
}

.avtar-name a {
    color: rgba(255, 255, 255, 0.5);
}

.avtar-name a:hover {
    color: #fff;
}


/*=========================================*/


/* Main Footer */


/*=========================================*/

#footer {
    float: left;
    width: 100%;
}


/*------------- LOGIN SCREEN ----------------*/

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #642667;
    background-image: url('assets/images/contactus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Form */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    min-width: 400px;
    margin: 100px auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.form .thumbnail {
    margin: 0 auto 30px;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    width: 100%;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="submit"] {
    outline: 0;
    background: rgba(100, 38, 103, 0.9);
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.form input[type="submit"]:hover {
    background: rgba(100, 38, 103, 1);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #EF3B3A;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container2 {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container2:before,
.container2:after {
    content: "";
    display: block;
    clear: both;
}

.container2 .info {
    margin: 50px auto;
    text-align: center;
}

.container2 .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container2 .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container2 .info span a {
    color: #000000;
    text-decoration: none;
}

.container2 .info span .fa {
    color: #EF3B3A;
}


/* END Form */

.heading-main {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.box-main {
    float: left;
    width: 100%;
    min-height: inherit;
    border-width: 0px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.box-main-title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.txt-lbl {
    color: #642667;
    font-size: 14px;
    font-weight: 700;
}

.expand {
    position: absolute;
    right: 0;
    top: 5px;
    width: 50px;
    text-align: center;
}

.expand a {
    color: #999;
    font-size: 16px;
}

.left-box-list {
    width: 100%;
    display: inline-block;
    height: 100%;
}

#feedTab .left-box-list{
    width: 100%;
    display: inline-block;
    height: 100%;
}

.left-box-list.display-inline{
    width: 100%;
    display: inline-block;
    padding: 0 15px;
}

.left-submenu {
    width: 100%;
    position: relative;
    top: 0;
}

.left-submenu .left-side-submenu {
    width: 100%;
    float: left;
    top: 0;
}

.left-submenu .left-side-submenu li {
    margin-bottom: 10px;
    width: 70% !important;
    display: block;
    float: left;
}

.left-submenu .left-side-submenu li:hover a {
    cursor: move !important;
}

.left-submenu .left-side-submenu li a {
    width: 100% !important;
    display: block;
    background-color: #f9f9f9;
    border: none;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0 3px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: 12px;
    float: left !important;
    height: 20px;
}

.left-submenu .left-side-submenu li a i {
    margin-right: 5px;
    margin-left: 5px;
}

.left-submenu li a:hover,
.left-submenu li a:focus,
.left-submenu li a:active {
    text-decoration: none;
}

.right-side-table {
    width: 100%;
    float: left;
}
.ui-datatable .ui-datatable-thead>tr>th{
    font-weight: bold !important;
}

.right-side-table table th,
.right-side-table table a {
    color: #642667;
}

.right-side-table .table thead th {
    border: none;
    font-weight: 600;
    font-size: 12px;
}

.bordered-box {
    border: 1px dashed rgba(0, 0, 0, 0.4);
    background: #F2F2F2;
    float: left;
    width: 100%;
    border-radius: 6px;
    min-height: 250px;
    padding: 20px;
    position: relative;
    display: table;
}

.drag-txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.unwanted-space {
    padding: 0 !important;
    border-radius: 6px;
}

.bold-txt {
    text-decoration: underline;
    font-weight: bold;
    line-height: 30px;
}

.min-height {
    min-height: 300px;
}

.add-icon {
    position: absolute;
    right: 20px;
    top: -30px;
    display: block;
    width: 200px;
}

.add-icon span {
    display: none;
    font-size: 12px;
    float: left;
}

.add-icon a {
    font-size: 16px;
    color: #A4A4A4;
    width: 100%;
    float: left;
    padding: 5px;
    border-radius: 3px;
}

.add-icon a i {
    text-align: right;
    float: right;
}

.add-icon a:hover {
    background: #e40046;
    color: #fff;
}

.add-icon a:hover span {
    display: block;
    color: #fff;
}

.color-red {
    color: #E40046;
}

.tabSearchBox {
    width: 100%;
    float: left;
    padding: 5px;
}

.box-main .tab-content input[type='search'] {
    background: #f2f2f2;
    width: 200px;
    border: 0;
    margin: 0 0px 5px;
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    height: 19px;
    font-family: 'gt_walsheim_regularregular';
    box-shadow: inset 0px 2px 0 0 rgba(0, 0, 0, 0.05);
}

.box-main .tab-content>.tab-pane {
    background: #fff;
    padding:5px 10px 10px 10px;
    margin-top: -1px;
    width: 100%;
    float: left;
}

.box-main .nav-tabs .nav-link.active {
    border-bottom: transparent;
    color: #642667;
    min-height: 40px;
    border-radius: 4px 4px 0 0;
    border-color: transparent;
    font-weight: 600;
}

.box-main .nav-tabs li:first-child .nav-link {
    margin-left: 0;
}

.box-main .nav-tabs .nav-link {
    background: transparent;
    margin: 0 3px;
    font-size: 14px;
    border-radius: 4px;
    color: #b4b4b4;
    overflow: hidden;
    padding: 3px 5px;
}

.box-main .nav-tabs .nav-link:hover,
.box-main .nav-tabs .nav-link:focus {
    border-color: transparent;
}

.box-main .tab-content>.active {
    float: left;
    width: 100%;
}

.side-plus {
    font-size: 25px;
    color: #BCBCBC;
    line-height: 30px;
}

a.side-plus:hover {
    color: #E40046
}

.color-blue {
    background: #4EB4F2 !important;
}

.color-blue a {
    color: #fff;
}

.color-yellow {
    background: #ECC356 !important;
}

.color-yellow a {
    color: #fff;
}

.drag-tab {
    width: 100%;
    float: left;
}

.drag-tab li {
    width: 80%;
    float: left !important;
    margin-bottom: 10px;
}

.drag-tab li a i {
    margin-right: 5px;
}

.drag-tab li a {
    width: 100% !important;
    display: block;
    background-color: #f9f9f9;
    border: none;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 6px 10px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: 12px;
    float: left !important;
}

.drag-tab li:hover {
    cursor: move;
}

.drag-tab ul {
    margin-top: 20px;
}

.drag-tab li.color-blue {
    margin-bottom: 10px;
}

.fix-height-300 {
    height: 300px;
    overflow-y: auto;
}


/*---------- Fancy Scrollbar ---------*/

.scrollbar {
    float: left;
    background-color: #fff;
    overflow-y: auto;
}

.style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.style-4::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.activation-box-main {
    float: left;
    width: 100%;
}

.activation-box {
    float: left;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
}

.ml-mr-5 {
    margin: 0 5px;
}
.pd-20{padding: 0 15px;}
.activation-box-inner-3 {
    float: left;
    width: 100%;
    max-width: 24.7%;
    box-sizing: padding-box;
    padding: 0;
}

.activation-box-inner-6 {
    float: left;
    width: 100%;
    max-width: 50%;
    box-sizing: padding-box;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.activation-box h4 {
    font-size: 16px;
    line-height: normal;
}

.activation-box p {
    font-size: 12px;
}

.min-height-100 {
    min-height: 100px;
    height: 100%;
}

.activation-box h5 {
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.drag-item {
    width: 100%;
    float: left;
}

.drag-block {
    line-height: 22px;
    background: #d8c9d9;
    color: #464646;
    border-radius: 3px;
    padding: 5px;
    text-align: left;
    float: left;
    width: 63%;
    text-transform: uppercase;
    font-size: 10px;
    height: 30px;

    margin-left: 5px;
}
.drag-block i.fa-remove{
    line-height: 20px;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 14px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.drag-ul li .drag-block{width:84%; position: relative;}
.drag-block-name {
    float: right;
    width: 50%;
    color: #838383;
    text-align: center;
    font-size: 12px;
    /*height: 30px;*/

    font-weight: normal;
}

.red-btn {
    margin-top: 10px;
    border: 1px solid #E40046;
    border-radius: 6px;
    padding: 3px 30px;
    text-align: center;
    color: #E40046;
    font-size: 14px;
    line-height: normal;
    float: left;
    background-color: transparent;
    font-family: 'gt_walsheim_regularregular';
}

a.red-btn:hover,
button.red-btn:hover {
    background: #E40046;
    color: #fff;
    cursor: pointer;
}

.grey-btn {
    margin-top: 10px;
    border: 1px solid #acacac;
    border-radius: 6px;
    padding: 3px 30px;
    text-align: center;
    color: #acacac;
    font-size: 12px !important;
    line-height: normal;
    float: left;
    background-color: transparent;
}

a.grey-btn:hover,
button.grey-btn:hover {
    background: #9d9d9d;
    color: #fff;
    cursor: pointer;
}

.width-60 {
    width: 60%;
    float: left;
}

.width-40 {
    width: 40%;
    float: left;
}

.day {
    width: 20%;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
    line-height: 30px;
    float: left;
    text-align: left;
    text-transform: uppercase;
}

.timeSlot {
    float: left;
    width: 80%;
}

.br-r-b {
    border-radius: 6px 0px 0px 6px !important;
}

.br-t-l {
    border-radius: 0 6px 6px 0px !important;
}

.timeSlot input[type="text"] {
    width: 30px !important;
    height: 30px !important;
    background-color: #e9e9e9 !important;
    color: #838383;
    font-size: 12px;
    font-family: 'gt_walsheim_regularregular' !important;
    border: none !important;
}

.ampm {
    width: 45px;
    height: 30px;
    background-color: transparent;
    color: #333;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
}

.ampm2 {
    width: 45px;
    height: 30px;
    background-color: transparent;
    color: #333;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
}

.seprater {
    width: 10px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    float: left;
}

.times-day {
    width: 100%;
    padding: 0;
    display: inline-block;
}
.times-day .creatEventForm .activation input[type='text']{font-family: 'gt_walsheim_regularregular';}
.times-day li {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.exclude-date-box {
    min-height: 180px;
    overflow: auto;
    height: 100%;
    float: left;
    width: 100%;
    background: #f6f6f6 !important;
}

.activation-box .bordered-box {
    padding: 0;
    min-height: 32px;
}

.width-50 {
    width: 49% !important;
    float: left;
}

.margin-left-1 {
    margin-left: 5px;
}

.days-select {
    width: 100%;
    float: left;
}

.days-select input[type='text'] {
    float: left;
    height: 30px;
    text-align: center;
    font-size: 12px;
    width: 30%;
    line-height: 30px;
    border: transparent;
}

.days-select select {
    width: 60%;
    float: left;
    background: #E4E4E4;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-family: 'gt_walsheim_regularregular' !important;
}

.min-height-170 {
    min-height: 170px;
    height: 100%;
}

.min-height-163 {
    min-height: 163px;
    height: 100%;
}

.pink-btn {
    width: 84px;
    border-radius: 6px !important;

    line-height: normal;
    text-align: center;
    border: 1px solid #E40046;
    display: inline-block;
    background: #E40046;
    color: #fff;
    font-size: 14px !important;
    font-family: 'gt_walsheim_regularregular';
    height: 25px;
}

.pink-btn:hover {
    background: rgba(288, 0, 70, 0.8);
    color: #fff;
    cursor: pointer;
}

.white-btn {
    width: 84px;
    border-radius: 6px;

    line-height: 25px;
    text-align: center;
    border: 1px solid transparent;
    background: #9d9d9d;
    color: #fff;
    display: inline-block;
    font-family: 'gt_walsheim_regularregular';
    height: 25px;
}

.white-btn:hover {
    background: #d8d8d8;
    color: #333;
    cursor: pointer;
}

.purple-btn {

    width: 84px;
    border-radius: 6px !important;
    line-height: normal;
    text-align: center;
    border: 1px solid #8B5D8D;
    display: inline-block;
    background: #8B5D8D;
    color: #fff;
    font-size: 14px;
    font-family: 'gt_walsheim_regularregular';
    height: 25px;
    cursor: pointer;
}

.footer-button {
    margin: 10px 0;
    float: left;
    width: 100%;
    border-top: 0.5px solid #d2d2d2;
    padding-top: 10px;
}

#myModal .modal-lg {
    max-width: 80% !important;
}

.addBtn {
    background: #e40046;
    border-radius:6px;
    text-align: center;
    padding: 5px 10px;
    width: 50px;
    height: 30px;
    display: inline-block;
}

.addBtnTxt {
    background: #e40046;
    border-radius:6px;
    text-align: center;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    display: inline-block;
}

.addBtn:hover {
    cursor: pointer;
    background: #f35646;
}

.addBtn a {
    color: #fff;
}

.right-side-table .nav-tabs {
    border-bottom: none;
    background: #e5e5e5;
    position: relative;
    width: 100%;
}

.sidemenuHumburger {
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    margin-top: 5px;
}

.sidemenuHumburger a {
    line-height: 30px;
    font-size: 20px;
    color: #464646;
}

.sidemenuHumburgerOpen {
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.sidemenuOpenLeft {
    display: none;
    width: 18%;
    top: 0;
    background: #fff;
    height: 100vh;
    position: absolute;
    left: -300px;
    -webkit-transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -ms-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
    z-index: 2;
}

.sidemenuOpenLeft .menuTitle {
    width: 100%;
    padding: 10px;
    color: #642667;
    font-size: 20px;
    font-weight: 600;
}

.sidemenuOpenLeft .menuTitle a {
    float: right;
    font-size: 18px;
    color: #464646;
}

.sidemenuOpenLeftUl {
    width: 100%;
    display: inline-block;
}

.sidemenuOpenLeftUl li {
    width: 100%;
    position: relative;
    padding: 0 15px;
}

.sidemenuOpenLeftUl li a {
    font-size: 18px;
    color: #464646;
}

.sidemenuOpenLeftUl li a i {
    margin-right: 5px
}

#sideDropdown .dropdown-menu {
    position: relative !important;
    width: 100%;
    top: 0;
    left: 20px;
}

#sideDropdown .dropdown-menu .dropdown-item a {
    font-size: 16px;
}

.box-main .tab-content #config input[type='search'] {
    width: 15%;
    border-radius: 3px;
    padding-left: 10px;
    float: left;
}

.box-main .nav-tabs {
    border-bottom: none;
    background: #e5e5e5;
    position: initial !important;
    width: 100%;
    height: 30px;
}

.left-box-list li a {
    color: #464646;
}

.activation-box-main-heading {
    background: #e5e5e5;
    padding: 5px 10px;
    font-size: 16px;
    color: #642667;
    line-height: normal;
    margin-bottom: 10px;
    height: 30px;
}

.activation-box label {
    float: left;
    width: 100%;
    font-weight: 600;
}

.activation-box input[type="text"] {
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    padding: 5px;
    width: 100%;
    font-size: 12px;
    font-family: 'gt_walsheim_regularregular' !important;
    height: 32px;
    color: #838383;
}

.activation-box textarea {
    background-color: transparent;
    border-radius: 6px;
    border: solid 0.5px #d2d2d2;
    padding: 5px;
    min-height: 70px;
    font-size: 12px;
    color: #838383
}

.style-4 ul.drag-ul {
    float: left;
    width: 100%;
    margin-top: 10px;
    /*min-height: 100px;*/
    overflow-y: auto;
}

.style-4 ul.drag-ul li {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.style-4 ul.drag-ul li a {
    color: #464646;
    white-space: nowrap;
    font-size: 12px;
    width: 90%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.style-4 ul.drag-ul li a i {
    margin-right: 10px
}

.activateDate {
    width: 100%;
    display: inline-block;
}

.activateDate li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    float: left;
    background: #e9e9e9;
    margin-left: 14px;
    margin-bottom: 5px;
}

.activateDate li.active {
    background: #e40046;
}

.activateDate li.active a {
    color: #fff;
}

.activateDate li:first-child {
    margin-left: 0;
}

.activateDate li a {
    line-height: 30px;
    color: #838383;
    font-weight: 600;
    text-transform: uppercase;
}

.activateDateFormate {
    width: 100%;
    float: left;
}

.activateDateFormate input[type="text"] {
    border-radius: 3px;
    background-color: #e9e9e9;
    width: 30px;
    border-color: transparent;
    float: left;
    font-family: 'gt_walsheim_regularregular';
}

.activateDateFormate li {
    width: 50%;
    float: left;
}

.activateDateFormate .seprater {
    width: 10px;
    float: left;
    line-height: 30px;
}

.activateDateFormate select {
    width: 45px;
    border-color: transparent;
    float: left;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    font-family: 'gt_walsheim_regularregular' !important;
}

.activation-box-inner-4 {
    width: 30%;
}

.height-170 {
    height: 170px;
    overflow-y: auto;
    margin-top: 10px;
}

.latency {
    float: left;
    width: 100%;
}

.latency input[type="text"] {
    width: 60%;
    float: left;
}

.latency select {
    border-color: transparent;
    line-height: 30px;
    width: 70px;
    float: left;
    background-color: transparent;
    font-family: 'gt_walsheim_regularregular' !important;
    height: 33px;
}

.excluded-date {
    height: 160px;
    float: left;
    width: 100%;
}

.consumer {
    float: left;
    width: 100%;
}

.consumer .drag-txt {
    text-align: left;
}

.consumer .drag-txt i,
.suppression .drag-txt i {
    margin-left: 5px;
    margin-right: 5px;
}

.ml-mr-5{
    margin-left: 5px;
    margin-right: 5px;
}

.suppression .drag-txt {
    text-align: left;
}

.mainTopTable .tab-content {
    height: 250px;/* changes Date 13/4/07*/
    overflow-y: auto;
    overflow-x: hidden;
    position: initial !important;
}

.mainTopTable .tab-content.scrollbar {
    width: 100%;
}

.mainTopTable input {
    outline: 0;
    background: #f2f2f2;
    width: 200px;
    border: 0;
    margin: 0 0px 5px;
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    height: 19px;
    font-family: 'gt_walsheim_regularregular';
    box-shadow: inset 0px 2px 0 0 rgba(0, 0, 0, 0.05)
}

.activation-box-main-heading .expand {
    right: 0px;
}

.fix-height-305 {
    height: 370px;
    float: left;
    width: 100%;
}

.fix-height-385 {
    height: 325px;
    float: left;
    width: 100%;
}

.fix-height-555 {
    height: 555px;
    float: left;
    width: 100%;
}
.fix-height-500 {
    height: 500px;
    float: left;
    width: 100%;
}

.fix-height-820 {
    height: 820px;
    float: left;
    width: 100%;
}
.fix-height-750 {
    height: 750px;
    float: left;
    width: 100%;
}
.fix-height-740 {
    height: 740px;
    float: left;
    width: 100%;
}


/******* Event Create Page *******/

.eventCreatForm {
    float: left;
    width: 100%;
    display: block;
    padding: 0 20px;
}

.eventCreatForm .eventCreatFormTitle {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.eventCreatForm .eventCreatFormTitle h5 {
    font-size: 22px;
    color: #642667;
    display: block;
}

.eventCreatForm .eventCreatFormTitle p {
    color: #464646;
    font-size: 16px;
}

.creatEventForm {
    float: left;
    width: 100%;
    display: block;
}

.creatEventForm label {
    font-size: 14px;
    font-weight: 600;
}

.creatEventForm p {
    color: #838383;
}

.creatEventForm input[type='text'] {
    float: left;
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
    background-color: transparent;
    font-family: 'gt_walsheim_regularregular';
    min-height: 30px;
    border: solid 0.5px #d2d2d2;
    line-height: 30px;
    color: #838383;
}

.creatEventForm textarea {
    min-height: 80px;
    line-height: 30px;
    border-radius: 6px;
    background-color: transparent;
    padding: 5px;
    font-size: 14px;
    font-family: 'gt_walsheim_regularregular';
    border: solid 0.5px #d2d2d2;
    color: #838383;
}

.creatEventForm .bordered-box {
    min-height: 100px;
    padding: 5px;
    min-height: 30px;
}

.creatEventForm .bordered-box .drag-txt {
    font-size: 12px;
}


.creatEventForm .latency {
    margin-top: 10px;
}

.creatEventForm .latency input[type='text'] {
    width: 50% !important;
    float: left;
    font-family: 'gt_walsheim_regularregular' !important;
}

.creatEventForm .latency select {
    width: 70px !important;
    float: left;
    line-height: 30px;
    height: 40px;
    margin-left: 5px;
}

.creatEventForm .suppression {
    float: left;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.creatEventForm .activation input[type='text'] {
    width: 50px;
}

.creatEventForm .suppression select.day {
    width: 50px;
}

.creatEventForm .suppression select.month {
    width: 80px;
}

.creatEventForm .suppression select.year {
    width: 60px;
}

.creatEventForm .suppression select {
    float: left;
    border-radius: 3px;
    height: 30px;
    border: solid 0.5px #d2d2d2;
    color: #838383;
    font-family: 'gt_walsheim_regularregular';
}
.footer-wrapper{
    float: left;
    width: 100%;
    padding: 20px 0;
    margin-top:20px;
    border-top: 0.5px solid #d4d4d4;
}
.margin-left-12{
    margin-left: 12px;
}
.error-box{
    border-color: rgba(255,20,20,0.4) !important;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255,20,20,0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(255,20,20,0.4);
    box-shadow: 0px 0px 10px 1px rgba(255,20,20,0.4);
}

/*Date: 9/2/2017 */
.fl{float: left;}
.ui-datepicker.ui-widget .ui-datepicker-calendar td{
    border-bottom: none !important;
}
.dateExcludemin{
    height: 80px;
    float: left;
    width: 100%;
    margin-top:5px;
}
.dateExclude{
    float: left;
    width: 100%;
    border-radius: 6px;
    background-color: #f6f6f6;
    padding: 5px;
    margin-bottom: 5px;
}
.dateExclude span{
    color: #464646;
    font-size: 14px;
    float: left;
    font-family: 'gt_walsheim_regularregular';
    width: 75%;
}
.dateExclude i{
    float: right;
    color: #e40046;
    font-size: 16px;
    line-height: 22px;
}
.ui-widget-header{
    height: 100px;
    background: #e40046 !important;
    color:#fff;
    border-bottom: none;
    border:none !important;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar thead th{
    background: #e40046 !important;
    color:#fff;
}
.ui-datepicker .ui-datepicker-title{
    margin: 33px 2.3em !important;
    color: #fff;
    font-size: 20px;
}
.ui-datepicker-prev,
.ui-datepicker-next{
    margin-top: 33px !important;
    color: #fff;
    font-size: 20px;
}
.ui-datepicker{top: 0px !important}
.ui-datepicker .ui-datepicker-header a{color: #fff !important;}
.ui-button{ background: #e40046 !important;border-color:#e40046 !important; }

.w-20{width: 35% !important;}
.w-20.red-btn{
    padding: 3px;
    font-size: 10px;
    margin-top: 0;
    line-height: 20px;
    margin-left: 4px;
}
.fl.drag-block{width: 62% !important;float: left;font-size: 9px;line-height: 20px;}
.fl.drag-block .drag-block-name{width: 36%;font-size: 9px;line-height: 20px;}
/*.linux .drag-block.ml-0.f1{
    width: 62%;
}*/
.ui-helper-clearfix{zoom: 0.9 !important;}
.clear{
    float: left;width: 100%;
}
.ui-calendar.ui-calendar-w-btn{
    float: left;
    width: 100%;
}
.ui-calendar.ui-calendar button{right: -2px;}
.font-12{
    font-size: 12px;
    line-height: 22px;
}
/*------ Modal Style ----------*/

.modal .modal-content {
    padding: 20px;
}

.modal .modal-content h5 {
    float: left;
    width: 100%;
    color: #642667;
    margin-bottom: 15px;
}

.modal .modal-content .left-box-list {
    padding: 20px;
}

.modal .modal-content input[type="search"] {
    position: relative;
    border: transparent;
    box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    -o-box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.6);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: 5px 8px;
    background-size: 15px;
    /* width: 100%; */
    background-color: #f9f9f9;
    border-radius: 3px;
    margin-bottom: 5px;
    height: 19px;
}
.tab-content .addBtn{
    height: 19px;
    width: 35px;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    margin-left: 10px;
    color: #fff;
    line-height: normal;
    font-size: 12px;
}

.pr-0 input[type='search']{width:100% !important;}
.modal-dialog.modal-lg{width: 75%;max-width: 100%;}
.set-buttons{float: left;width:100%;}
.set-buttons .red-btn{
    width: 100%;
    padding: 2px 0;
    border-radius: 6px;
    height: 42px;
}
.dropped-feeds .drag-block {width: 200px;}
.dropped-suppressions .drag-block{width:215px !important;}
.dropped-suppressions .drag-item .height-170{height: auto;}
.dropped-consumers .drag-block{width:100px !important;}


/*09/07/2017*/

.eventCreatBox {
    float: left;
    width: 100%;
}

.eventCreatBoxHeader {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #838383;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.eventCreatBoxContainer {
    height: 550px;
    padding: 15px;
    background: #f7f7f7;
    border-left: 1px dashed #838383;
    border-right: 1px dashed #838383;
    border-bottom: 1px dashed #838383;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pl-pr-15 {
    padding: 0 15px;
}
/*----- RULE EXPRESSION -----*/
.eventCreatBoxContainer .alert-warning{background-color: transparent;border-color:rgba(228, 0, 70, 0.3); }
.eventCreatBoxContainer .alert-warning .red-btn{margin-top: 0;padding: 5px 30px;border-radius: 6px;height: 32px;}
.eventCreatBoxContainer .alert-warning select{font-family: 'gt_walsheim_regularregular' !important;border-color: transparent;border-radius: 6px;height: 32px !important;padding: 0 15px;}
.eventCreatBoxContainer .alert-warning .bordered-box{min-height: inherit;padding: 8px;}
.eventCreatBoxContainer .alert-warning input[type='text']{width: 100%;border-radius: 6px;height: 32px;}
.eventCreatBoxContainer .alert-warning .mar-top-21{margin-top: 21px;}
.eventCreatBox .pink-btn{width: auto;height: 32px}
/*14/2/2014*/

.main-menu .navbar-nav li a {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 14px;
}

.nav-item.dropdown .dropdown-menu {
    width: 100%;
    background-color: #8b5d8d;
    padding: 3px 0;
    top: auto;
    bottom: -8px;
    border-radius: 0;
}

.dropdown-toggle::after {
    display: none;
}


/*Drag from line no.198 */
/*
.dropdown-menu {
    background: none;
    border: none;
    min-width: auto !important;
    margin: 0;
}

.dropdown-menu li {
    float: left;
}

.dropdown-item {
    width: auto !important;
    float: left !important;
    color: rgba(255, 255, 255, .5) !important;
    padding: 0 10px;
}

.dropdown-item:hover {
    background: transparent;
}

.dropdown-menu li:first-child a {
    padding-left: 0
}*/

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}


/*Navigation*/

.outer_submenu {
    display: none;
    position: absolute;
    background-color: #8b5d8d;
    padding: 8px 15px;
    float: left;
    width: 100%;
    z-index: 100;
}

.outer_submenu:after {
    clear: both;
}

.outer_submenu ul {
    display: inline-block;
    width: 100%;
    float: left;
}

.outer_submenu ul li {
    float: left;
}

.outer_submenu ul li a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.7);
    float: left;
    display: block;
}

.outer_submenu ul li a:hover {
    color: #fff !important;
    background-color: transparent;
}

.outer_submenu ul li:first-child a {
    padding-left: 0;
}

.navsub {
    display: none;
}

.subhoverLinkTringle {
    position: relative;
}

.subhoverLinkTringle:after {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #8b5d8d;
    border-width: 10px;
    margin-left: -10px;
}


/*Contex Menu*/
context-menu .dropdown-menu{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #b4b4b4;
    background-color: #fff;
    width: 107px;
    height: auto;
    padding: 0;
    position: fixed;
}
context-menu .dropdown-menu li{
    float: left;
    display: block;
    width: 100%;
    text-align: center;
}
context-menu .dropdown-menu li a{
    width: 100%;
    display: block;
    color: #838383;
    font-size: 14px;
    font-family: 'gt_walsheim_regularregular';
    padding: 5px;
}
context-menu .dropdown-menu li a:hover{
    background-color: #e40046;
    color: #fff;
}
.ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header{
    height: inherit;
    background-color: rgba(139,93,141,0.1) !important;
}

.fix-height-335{
    height: 335px;
    float: left;
    width: 100%;
}
.caretmenu > .dropdown > a > .caret{
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: central;
    width: 0;
}
.caretmenu > .dropdown.show > a > .caret{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: central;
    width: 0;
}

.close-caret{
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: central;
    width: 0;
}
.open-caret{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: central;
    width: 0;
}

.title_event {
    float: left;
    margin: 20px 0;
    width: 100%;
}

.title_event h3 {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #642667;
}

.title_event p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
}

.section_title {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #464646;
}

.priority-ul {
    margin-top: 0;
    float: left;
    width: 100%;
    padding-left: 0;
}

.priority-ul li {
    float: left;
    width: 400px;
    margin-bottom: 10px;
    display: block;
}

.drag-number {
    float: left;
    width: 45px;
    height: 45px;
    background-color: #f9f9f9;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #e5e5e5;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: normal;
    color: #838383;
    border-radius: 3px 0 0 3px;
}

.light-pink {
    margin-left: 5px;
    float: left;
    width: 332px;
    height: 45px;
    background-color: #d8c9d9;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0;
    padding: 0 20px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    color: #464646;
}

.light-gray {
    margin-left: 5px;
    float: left;
    width: 332px;
    height: 45px;
    background-color: #e5e5e5;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0;
    padding: 0 20px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    color: #464646;
}

.light-pink span,
.light-gray span{
    margin-right: 9px;
}

.light-pink img,
.light-gray img {
    float: left;
    margin-right: 10px;
    margin-top: 14px;
}

.real-drag .priority-ul li.active .drag-number {
    background-color: #d8c9d9;
    border: solid 1px #8b5d8d;
    color: #8b5d8d;
}

.batch-drag .priority-ul li.active .drag-number {
    background-color: #e5e5e5;
    border: solid 1px #838383;
    color: #838383;
}

.priority-ul li.active .light-pink {
    width: 359px;
    height: 49px;
    border-radius: 3px;
    background-color: #8b5d8d;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-left: -10px;
    margin-top: -2px;
}



.priority-ul li.active .light-gray {
    width: 359px;
    height: 49px;
    border-radius: 3px;
    background-color: #838383;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-left: -10px;
    margin-top: -2px;
}

.real-drag,
.batch-drag {
    float: left;
    width: 100%;
}

.changes-effect {
    float: left;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
    margin-top: 30px;
}

.batch-drag .changes-effect span {
    background-color: #838383 !important;
}

.changes-effect span {
    font-weight: bold;
    color: #ffffff;
    width: 26px;
    height: 26px;
    background-color: #8b5d8d;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 25px;
}

.box-footer {
    border-top: solid 1px #d2d2d2;
    width: 100%;
    float: left;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

.box-footer .red-btn {
    padding: 0 30px;
    width: auto;
    height: 25px;
    border-radius: 6px;
    background-color: #e40046;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 10px;
    margin-top: 0;
}

.box-footer .red-btn:hover {
    background-color: #c1003b;
}

.box-footer .gray-btn:hover {
    background-color: #747373;
    cursor: pointer;
}

.box-footer .gray-btn {
    width: 84px;
    height: 25px;
    border-radius: 6px;
    background-color: #9d9d9d;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 10px;
    border: none;
}

.selected-usecase {
    width: 209px;
    height: 11px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b5d8d;
}

.selected-usecase.text-style-1 {
    font-weight: normal;
    color: #a887aa !important;
}

.selected-usecase-eclipse {
    width: 17px;
    height: 17px;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 17px;
    text-align: center;
    background-color: #8b5d8d;
    display: inline-block;
}
.fix-height-780{
    height: 780px !important;
}

/*On Select row BG color CSS 07/03/2017*/
.bg-o-100{
    background-color: #8b5d8d;
    opacity: 1;
}
.bg-o-90{
    background-color: #8b5d8d;
    opacity: .9;
}
.bg-o-80{
    background-color: #8b5d8d;
    opacity: .8;
}
.bg-o-70{
    background-color: #8b5d8d;
    opacity: .7;
}
.bg-o-60{
    background-color: #8b5d8d;
    opacity: .6;
}
.bg-o-50{
    background-color: #8b5d8d;
    opacity: .5;
}
.bg-o-40{
    background-color: #8b5d8d;
    opacity: .4;
}
.bg-o-30{
    background-color: #8b5d8d;
    opacity: .3;
}
.bg-o-20{
    background-color: #8b5d8d;
    opacity: .2;
}
.bg-o-10{
    background-color: #8b5d8d;
    opacity: .1;
}

/*Newly added CSS*/
.change-message{
    font-size: 16px;
    color: #838383;
    display: inline-block;
}
.top-spacer-20{
    margin-top: 20px;
}
.circle{
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    width:26px;
    line-height: 16px;
    height:26px;
    font-weight: bold;
    color:#fff;
}
.circle-purple{
    background: #8b5d8d;
}
.circle-grey{
    background:#838383;
}
.priority-ul li:hover, .priority-ul li:hover .light-pink, .priority-ul li:hover .drag-number,.priority-ul li:hover .light-gray{
    transition: all .5s;
    cursor: move;
}
.priority-ul li:hover .light-pink {
    transform: scale(1.05,1.10);
    background: #8b5d8d;
    color: white;
}
.priority-ul li:hover .drag-number{
    background:#d8c9d9;
    color:#8b5d8d;

    border: solid 1px #8b5d8d;
}
.priority-ul li:hover .drag-number-gray{
    background:#e5e5e5;
    color:#8b5d8d;
    border: solid 1px #838383;
}
.size-14{
    font-size: 14px!important;
}
.priority-ul li:hover .light-gray {
    transform: scale(1.05,1.10);
    background:#838383;
    color: white;
}
.subhead{
    font-size: 18px;
    margin-top: 30px;
}
.custom-date-select{
    float: left;
    padding:5px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    background-color: transparent;
    font-family: 'gt_walsheim_regularregular';
    min-height: 40px;
    border: solid 0.5px #d2d2d2;
    line-height: 30px;
    color: #838383;
}
.timeSlot-new input[type="text"] {
    width: 36px !important;
    height: 40px !important;
    background-color: #e9e9e9 !important;
    color: #838383;
    font-size: 16px;
    text-align: center;
    font-family: 'gt_walsheim_regularregular';
    border: none !important;
}
.ampm-lg {
    width: 45px;
    height: 40px;
    background-color: transparent;
    color: #838383;
    float: left;
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border: none;

}
.accordion-list{
    margin: 0px;
    padding: 0px;
}
.accordion-list li{
    margin: 10px 0px;
    color: #8b5d8d;
}
.seprater-lg {
    width: 10px;
    height: 40px;
    text-align: center;
    line-height: 25px;
    float: left;
}
.opacity-8{
    opacity: 0.8;
}

.lbl-normal{
    font-weight: normal;
    font-size: 12px;
    color: #464646;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}
/*reursive*/
.recursive{
    width: 30px;
    float: left;
}
.recursive .slider:before {
    content: '\f021';
    font-family: 'FontAwesome';
    color: #000;
    background-color: transparent;
}
.recursive input{width: 20px;}

.recursive input:checked + .slider:before{
    transform: none;
    color: #e40046;
}
.recursive .slider{background-color: transparent}
.recursive input:checked + .slider{background-color: transparent;}
.recursive .switch{
    height: 15px;
    margin-bottom: 0;
    margin-top: 7px;}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #642667;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.selected-line span{
    display: inline-block;
    background: #fff;
    padding: 10px 10px 10px 0px;
    font-weight: 400;
    font-size: 14px;
    font-weight: bold;
}
.selected-line hr{
    margin-top: -20px;
    border: none;
    border-bottom: 1px solid #d2d2d2;
}
.use_case_placeholder{
    margin: 0px;
    padding: 0px;
}
.use_case_placeholder li{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #8b5d8d;
}
.use_case_placeholder_sub{
    margin: 0px 30px;
    padding: 0px;
}
.use_case_placeholder_sub li{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #8b5d8d;
    line-height:  40px;

    clear: both;

}
.block-el{
    display: block !important;
}
.small_txt_associated{
    font-size: 14px;
    text-transform: none;
    font-weight:bold;
    margin-left: 30px;
    color: black;
}
.caret-lg{
    font-size:24px !important;
    color: #8b5d8d;
}

.caret-md{
    font-size:14px !important;
    color: #8b5d8d;
}

.bg-red{
    background:#8b5d8d;
    display: inline-block;
    padding:5px  15px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    margin: 0px 10px;
    line-height: normal;

}

.bg-grey{
    background:#f9f9f9;
    display: inline-block;
    padding:5px  15px;
    border-radius: 15px;
    color:  #838383;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    margin: 0px 10px;
    line-height: normal;
}

.bg-red-2{
    background:rgba(139,93,141,.75);
    display: inline-block;
    padding:5px  15px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    margin: 0px 5px;
    line-height: normal;
}

.height-700{
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
}
/*Newly added css*/
.icon-drag{
    display: none;
    width: 14px;
    height: 18px;
}

.icon-drag img{
    width: 14px;
    height: 18px;
    padding: 0px;
    margin: 0px;
}
.priority-ul li:hover .icon-drag{
    float: left;
    padding-left: 15px;
    margin-top: 12px;
    display: block;
}

.lbl-oblique{
    font-style: italic;
    font-size: 14px;
    color: #838383;
}

.lbl-bold{
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.ui-paginator .ui-paginator-page.ui-state-active{
    background: #642667 !important;
    border-color: #642667 !important;
}

.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator-first, .ui-paginator .ui-paginator-prev{
    color: #642667 !important;
}
/*08/03/2017 */
.schedule-text{
    width: 207px;
    height: 13px;
    font-family: GTWalsheim;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
}
.ampm-time {
    font-weight: bold;
}
.table-heading-text{
    width: 46px;
    height: 12px;
    font-family: GTWalsheim;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

/**
* Framework starts from here ...
* ------------------------------
*/

ul,
li {
    list-style: none;
}

.tree,
.tree ul {
    margin: 0 0 0 4px;
    /* indentation */
    padding: 0;
    list-style: none;
    position: relative;
}

.tree ul {
    margin-left: .5em;
}
/* (indentation/2) */

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid #8b5d8d;
}

.tree li {
    margin: 0;
    padding: 0 0.8em;
    /* indentation + .5em */
    line-height: 2em;
    /* default list item's `line-height` */
    position: relative;
    color: #8b5d8d;
    text-align: left;
}

.tree li:before {
    content: "";
    display: block;
    width: 10px;
    /* same with indentation */
    height: 0;
    border-top: 2px solid #8b5d8d;
    margin-top: -1px;
    /* border top width */
    position: absolute;
    top: 1em;
    /* (line-height/2) */
    left: 0;
}

.tree li:last-child:before {
    background: #f9f9f9;
    /* same with body background */
    height: auto;
    top: 1em;
    /* (line-height/2) */
    bottom: 0;
}

.no-before {}

ul.no-before:before,
ul.no-before li:before {
    border: none !important;
    background: transparent !important;
}

.tree li i {
    padding-right: 5px;
}

.root {
    font-weight: bold;
    color: #8b5d8d;
}

.root li {
    margin-bottom: 5px;
}

.root:hover,
.tree li:hover {
    cursor: pointer;
}

.tree li:hover table {
    cursor: default;
}

.root i {
    padding-right: 5px;
}

.tree_table {
    background-color: #fff;
    border: none;
    padding: 10px 10px 10px 0;
    margin-left: -8px;
    text-align: left;
}

.tree_table th {
    color: #642667;
    font-weight: normal;
    width: 130px;
}

.tree_table td {
    color: #838383;
}

ul.tree {
    display: none;
}

.shrink ul {
    display: none;
}
.angular2-contextmenu .disabled a{
    cursor: not-allowed;
    background-color: lightgrey !important;
    color: white !important;
}
/* Date 20/3/2017 */
.breadcrumb {
    float: left;
}
.add-action-btn {
    float: left;
}
.add-action-btn .add_action_btn {
    width: auto;
    height: 26px;
    background-color: #e40046;
    color: #fff;
    font-size: 12px;
    float: left;
    border-radius: 6px;
    text-align: center;
    line-height: 27px;
    padding: 0 10px;
}
.add-action-btn .add_action_btn i {
    float: left;
    margin-right: 5px;
    line-height: 27px;
}
.advance-tab-main {
    float: left;
    width: 100%;
    position: relative;
    padding: 30px 20px;
}
.advance-tab-main label {
    float: left;
    display: block;
    width: 100%;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    font-size: 14px;
    font-family: 'gt_walsheim_boldregular';
}
.advance-tab-main label span {
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    color: #d2d2d2;
    font-weight: normal;
    font-style: oblique;
    font-family: 'gt_walsheim_regularregular';
}
.advance-tab-main label i {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #d2d2d2;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    font-weight: normal;
    margin-left: 5px;
}
.radio-group {
    display: block;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    float: left;
    padding: 15px 20px;
    line-height: 25px;
    height: 126px;
}
.radio-group li {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}
.radio-group li .radio-label {
    font-weight: normal;
    font-family: 'gt_walsheim_regularregular' !important;
    margin-bottom: 0;
    height: inherit;
    z-index: 9;
}
.radio-group li input[type='radio'] {
    margin-right: 5px;
    float: left;
    margin-top: 3px;
    border: solid 1px #838383;
}
.radio-group li label {
    width: auto;
    color: rgba(131, 131, 131, 0.5);
    position: relative;
    cursor: pointer;
    display: block;
}
.radio-group li input[type=radio]:checked {
    color: #e40046;
}
.advance-block {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.advance-block .drag-content {
    float: left;
    width: 100%;
}
.chevron {
    float: left;
    width: 100%;
    text-align: center;
}
.chevron i {
    color: #838383;
    line-height: 135px;
}
.no-padding {
    padding: 0 !important;
}
.advance-block .drag-content .bordered-box {
    color: #838383;
    min-height: inherit;
    padding: 5px;
    text-align: center;
}
.advance-block .drag-content .bordered-box i {
    margin-right: 10px;
}
.advance-block p {
    color: #838383;
    font-size: 14px;
    float: left;
    display: block;
    margin-bottom: 5px;
    float: left;
    width: 100%
}
.advance-block input[type='text'] {
    width: 44px;
    height: 32px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    padding: 5px;
}
.advance-block span.advanceday {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: rgba(131, 131, 131, 0.5);
    margin-left: 15px;
}
.advance-btn {
    width: 44px !important;
    border-radius: 6px;
}
.advance-bordered-box {
    width: 100%;
    height: 126px;
    border-radius: 6px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    display: table;
}
.advance-bordered-box-txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #838383;
}
.advance-bordered-box-txt i {
    margin-right: 15px;
}
.advance-block .drag-block {
    position: relative;
    margin-bottom: 30px !important;
    margin-left: 0;
    width: 100% !important;
    height: 32px;
}
.advance-block .drag-block:after {
    content: 'ELSE';
    position: absolute;
    bottom: -25px;
    left: 0;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7c7c7;
    font-family: 'gt_walsheim_regularregular';
}
.advance-block .drag-block:nth-last-child(2) {
    margin-bottom: 10px;
}
.advance-block .drag-block:nth-last-child(2):after {
    display: none;
}
.advance-block .drag-block a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #464646;
}
.advance-block .drag-block a i {
    margin-right: 5px;
}
.advance-block.channels .drag-block:after {
    display: none;
}
.advance-block.channels .drag-block {
    margin-bottom: 0;
}
.advance-block .drag-block:nth-last-child(2) {
    margin-bottom: 10px;
}
.advance-block .drag-block:nth-last-child(2):after {
    display: none;
}
.advance-block.comms > #dropCommsArea > ul > li:last-child > .drag-block:after {
    display: none;
}
.creteria-btn {
    width: 71px;
    height: 32px;
    border-radius: 6px;
    border: solid 1px #e40046;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    margin-top: 36px;
}
.creteria-btn:hover {
    background-color: #e40046;
}
.creteria-btn:hover a {
    color: #fff;
}
.creteria-btn a {
    color: #e40046;
}
.radio-group ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.check-radio {
    display: block;
    position: absolute;
    border: 1px solid #AAA;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.check-radio::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 6px;
    width: 6px;
    top: 2px;
    left: 2px;
    margin: auto;

}
input[type=radio]:checked ~ .check-radio {
    border: 1px solid #e40046;
}
input[type=radio]:checked ~ .check-radio::before {
    background: #e40046;
}
input[type=radio]:checked ~ label {
    color: #e40046;
}
.no-bg {
    background: none !important;
}
.rewards {}
.rewards .no-bg {
    margin-bottom: 30px;
    position: relative;
}
.rewards .no-bg:after {
    content: 'ELSE';
    position: absolute;
    bottom: -25px;
    left: 0;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    font-family: 'gt_walsheim_regularregular';
    background-color: #e40046;
    border-radius: 3px;
    padding: 2px;
}
.rewards ul li:nth-last-child(2) .no-bg:after {
    content: 'ELSE';
    position: absolute;
    bottom: -25px;
    left: 0;
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7c7c7;
    background-color: transparent !important;
    font-family: 'gt_walsheim_regularregular';
}
.rewards .bordered-box.no-bg li ul li {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
.rewards .bordered-box.no-bg li ul li span {
    float: left;
    border-radius: 3px;
    border: solid 1px #d2d2d2;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #949494;
    width: 32px;
    height: 32px;
    line-height: 30px;
    margin-right: 5px;
}
.rewards .bordered-box.no-bg li ul li .drag-block {
    width: 50% !important;
    display: block;
    float: left;
    margin-bottom: 0 !important;
}
.rewards .bordered-box.no-bg li ul li .drag-block:after {
    display: none;
}
.close-drag {
    position: absolute;
    right: 0;
    top: 0;
    color: #e40046;
}
.preloader{
    text-align:center;
    background-color:white;
    height: 100%;
    position: absolute;
    width: 100%;
}

.showcase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.spinner {
    margin: 30px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #642667;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    /* ra:todo | Due to Css error, please consider to change it */
    /*    .modal-dialog .style-4.box-main input[type='search']{width:127px;}
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }*/
}
/*24/03/2017 - shreya*/
.dropdown-menu.caretmenu{position: inherit;}
ul.caretmenu {width: 100%;float: left; height: 800px;}
.caretmenu li{width: 100%;float: left;font-size: 14px;}
.caretmenu li a i{margin-right: 5px;}
.dropdown-submenu .dropdown-menu.left-side-submenu{position: relative;float: left;width: 100%;}
.dropdown-submenu .dropdown-menu{position: relative;}
.drop-menu-item{
    width: 100% !important;
    display: block;
    background-color: #f9f9f9;
    border: none;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 6px 10px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: 12px;
    float: left !important;
}
.w-100{
    width: 100% !important;
}
.w-100px{width:100px !important;}
.w-min-100px{
    min-width: 100px
}
.dropdown-li{
    margin-bottom: 10px;
}
.sub-ul-left{
    padding-left: 15px;
    margin-top: 0;
    padding-top: 0;
}
.sub-ul-left li a i{
    margin-right: 5px;
}

.overflow-x{
    overflow-x: auto;
}
.condition .drag-block{
    padding: 0 5px;
    width: 100% !important;
    font-size: 14px;
    line-height: 33px;
    overflow: hidden;
}
.rule_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
}
.condition .drag-block i{
    margin-right: 5px;
}
.group-conditions .btn.btn-danger{
    background: none;
    border: none;
    color:#e40046;
    font-size: 14px;
    margin-left: -10px !important;

    line-height: 15px;
}
.suppresion-name ,
.feed-name,
.usecase-role-name{
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.nopd-line30{
    padding: 0 0 0 5px;
    line-height: 30px;
}


.suppression .bordered-box{display: inline-block;line-height: 30px;}

.feed-name-role {
    width: 50%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

/* Segment Table CSS*/
.table-header-block{
    text-align:center;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    color: #464646 !important;
    font-weight: normal;
    width: 100%;
    line-height: normal;
    float: left;
    padding: 20px 0;
}
.table-color-1{
    background-color: #d2d2d2;
}
.table-color-2{
    background-color: #d8c9d9;
}
.table-color-3{
    background-color: #f9f9f9;
    border-bottom:1px solid  rgba(85,85,85,0.3) !important;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.1);
    border-left: transparent !important;
    border-right: transparent !important;
}
#tabContentMainDiv .table th{padding: 0;position: relative;}
.com-table-select{
    height: 19px !important;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #d2d2d2;
    font-size: 12px;
    padding: 0 5px !important;
    color: #464646;
    text-align: center;
    text-align-last: center; /* webkit*/
    font-weight: 600;
    margin-bottom: 3px;
}
.com-table-select option{text-align: center; /* reset to left*/ }
.data-table-name{
    font-weight: bold;
    font-size: 12px;
    color: #464646;
    text-transform: uppercase;
    padding: 5px 0 0 5px;
}
.version-details{
    position: relative;
    width: 100%;
    float: left;
    padding: 5px 0 0 5px;
}
.version-details .version-num{
    float: left;
    font-size: 12px;
    color: #838383;
    margin-right: 5px;
}
.version-details .publish-name{
    font-size: 10px;
    color:   #642667;
    float: left;
    margin-right: 5px;
    line-height: 20px;
}
.version-details .cast-detaild{
    color: #642667;
    float: left;
    font-size: 13px;
    margin-right: 5px;
}
.version-details .settings{
    float: left;
    font-size: 13px;
    color:#e40046;

}
.lock-ab{
    position: absolute;
    right: 15px;
    top: -10px;
    color:  #d2d2d2;
    font-size: 18px;
}

select option:disabled {
    display: none;
}
.white-bg{
    border:1px dashed;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.corner-td{
    display: inline-block;
    position: relative;
    color: #b4b4b4 !important;
    font-size: 12px;
    font-weight: normal;
}
.corner-td .ic-f{
    float: left;
    font-size: 18px;
    color: #b4b4b4;
    margin-right: 8px;
    line-height: 30px;
}
.ic-r{
    line-height: 34px;
    float: right;
    font-size: 18px;
    color: #b4b4b4;
}

.corner-td .corner-td-txt{float: left;line-height: 30px;}

.corner-td.active .corner-td-txt,
.corner-td.active .ic-f,
.corner-td.active .ic-r{color: #e40046 !important;}

.segment-tbl.table-bordered td{border: 1px solid #838383;width: 50px;word-break: break-all;}
.pd-all-5{padding: 5px;}

.border-right{border-right: transparent !important;}
.border-left{border-left: transparent !important;}
.border-bottom{border-bottom: transparent !important;}
.border-top{border-top: transparent !important;}
.no-border{border: none !important;text-align: center;}
.no-border-right{border-right: none !important;}
.no-border-left{border-left: none !important;}
.segment-tbl{overflow-x: auto;}
.sub-table{
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    position: relative;
}
.tb-pd{
    padding: 0px !important;
    vertical-align: middle !important;
}

.w-50{width: 50px !important;}

.sub-table tr td.br-r-dasshedd:last-child{border-right: none !important;}
.mn-height-50{
    height: 50px !important;
}
.row-disabled{
    background-color: #EBEBEB;
}
.white-bg-enable{
    background-color: #FFFFFF;
}
.vertical-align-md{
    vertical-align: middle !important;
}
.JCLRgripDrag{
    border: 1px solid #f17fa2 !important;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
    position: relative;

}

.JCLRgripDrag:after{
    text-align: center;
    font-family: 'FontAwesome';
    content: '\f047';
    position: absolute;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 22px;
    height: 24px;
    border-radius: 50%;
    background-color: #e40046;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    line-height: 25px;
}

.right-click-pop{
    float: left;
    width: 300px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    height: 330px;
    border-radius:6px 6px 6px 6px ;
}
.right-click-pop .headerding{
    background-color: #E5E5E5;
    width: 100%;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    height: 53px;
    font-size: 16px;
    font-weight: normal;
    line-height: 35px;
    text-align: left;
    color: #464646;
    position: relative;
}
.right-click-pop .headerding:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #E5E5E5;
}
.right-click-pop .headerding i{
    margin-right: 10px;
}
.right-click-pop .caretmenu{
    float: left;
    position: relative;
    top: 0;
    height: 150px;
}

.right-click-pop-content{
    float: left;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.right-click-pop-content input[type='search']{width: 100% !important; }
.right-click-pop-content-btn{
    border-top:1px solid #d2d2d2;
    float: left;
    width: 100%;
    padding-top: 20px;
}
.right-click-pop-content-btn button{
    float: right;
    margin-left: 5px;
    width: 65px;
    height: 25px;
    text-align: center;
    line-height: normal;
}
.right-click-pop-content-btn button.purple-btn{
    background: #8B5D8D;
    color:#fff;
    border: 1px solid #8B5D8D;
    line-height: normal;
    font-weight: normal;
}
.ic-r:hover{
    color: #e40046 !important;
}

.right-click-pop-content-btn button.pink-btn{
    background: none;
    color: #E40046;
    line-height: normal;
    font-weight: normal;
}
.right-click-pop-content-btn button.pink-btn:hover{
    background:  #E40046;
    color: #fff;
}
.right-click-pop-content-btn button.pink-btn.filter{
    background: #E40046;
    color: #FFF;
    line-height: normal;
    font-weight: normal;
}
.right-click-pop-content-btn button.pink-btn.filter:hover{
    background:  none;
    color: #E40046;
}
.right-click-pop.filter-pop-up{
    width: 260px;
    top: 55%;
    left: 10px;
    transform: none;
    height: 370px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.right-click-pop.filter-pop-up .headerding:after{
    top: -8px;
    left: 20px;
    transform: none;
}
.right-click-pop.view-pop-up{
    width: 250px;
    top:90%;
    left: 10px;
    transform: none;
    height: 370px;
}
.right-click-pop.view-pop-up .headerding:after{
    top: -8px;
    left: 20px;
    transform: none;
}
.drop-radio{
    float: left;
    width: auto !important;
    box-shadow: none !important;
}
.dropdown-li label{
    font-weight: normal;
    color: #464646 !important;
}
.segment-tbl .radio-group{
    border:none;
    padding: 0 20px;
    position: relative;
}
.right-click-pop-content .dropdown-submenu a{font-weight: normal;}
.segment-tbl .radio-group ul{margin: 0;}
.segment-tbl .radio-group .check-radio{top:5px;}
.segment-tbl .radio-group  input[type=radio]:checked ~ label{color: #464646 !important;}
.dropdown-radio-hide{display: none;position: absolute;box-shadow: 0;}
.segment-tbl li.radio-group{height: inherit;margin-bottom: 0;}
.form-row{
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}
.view-pop-up .form-row{margin-bottom: 5px;}
.line{
    margin: 5px 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    float: left;
}
.form-row label{
    font-family: 'gt_walsheim_boldregular';
    font-size: 12px;
    color: #464646;
    width: 100%;
    display: block;
}
.form-row select{
    width: 224px;
    height: 32px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
}
.form-row select option{
    font-size: 14px;
    text-align: left;
    color: #464646;}

/* Custome checkbox */
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:14px;
    display:inline-block;
    line-height:normal;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;
    color: #464646;
    font-family: 'gt_walsheim_regularregular' !important;
    font-weight: normal !important;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -16px;
}
label.css-label {
    background-image:url(assets/images/checkbox.png);
    background-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}
.select-btn-filter{
    width: 224px;
    height: 32px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
}
.event-detector-filter{
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    color: #464646;
    font-weight: normal;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    vertical-align: middle !important;
}
.segment-tbl.table-bordered td.br-r-dasshedd {
    border-right: 2px dashed rgba(131, 131, 131, 0.3) !important;
}
.br-b-dasshedd{
    border-bottom: 2px dashed rgba(131, 131, 131, 0.3) !important;
}
.br-b-solid{
    border-bottom: none !important;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.border-top-none{
    border-top: none !important;
}
.comp-controll input{
    width: 100% !important;
    text-align: center;
}
.search-filter-color{
    background-color:  #F8D3DE;
}

.multi-select-btn .select-btn-filter{
    border:none;
    height: inherit;
    width: 100px;
}
.multi-select-btn .dropdown-menu{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.multi-select-btn .dropdown-menu .search input[type='text']{
    height: 23px !important;
}

.multi-select-btn .dropdown-menu li.dropdown-item a{
    font-size: 12px !important;
}
.filter-pop-up .select-btn-filter{
    border:none;
    height: inherit;
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #464646;
}
.filter-pop-up .right-click-pop-content-btn a{float:left;width: 68px;}
.filter-pop-up .right-click-pop-content-btn a:first-child{margin-left: 0;}

.dropdown .dropdown-menu .dropdown-item a{font-size: 12px;color: #464646}
.height-25{
    height: 25px !important;
}
.responsive-table{
    /*width: 100%;*/
    overflow-x: auto;
}
.or-pos{
    position: relative;
    bottom: -25px;
    left: -10px;
    color: #fff;
    width: 24px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #e40046;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 18px;
}
.margin-top{
    margin-top: 0 !important;
}
.list-icon a{
    line-height: 30px;
    color:#e5e5e5;
    font-size: 18px;
    margin-right: 10px;
}

.list-icon a.active{
    color:#e40046;
}

.list-icon a:last-child{
    margin-right: 0;
}

.last-col .right-click-pop{
    right:0;
    left: inherit;
    transform: none;
}
.last-col .right-click-pop .headerding:after{
    right: 0 !important;
    left: inherit;
}
.gridDiv .mainTopTable .tab-content{
    height: inherit;
}
.pink-btn:disabled{
    cursor: not-allowed;
}
.white-btn:disabled{
    cursor: not-allowed;
}
.purple-btn:disabled{
    cursor: not-allowed !important;
}
a.logo img{width: 150px;float: left;}
.logo span{
    color: #fff;
    font-family: 'gt_walsheim_regularregular';
    font-size: 26px;
    float: left;
    margin-top: -2px;
}
.logo span i{text-transform: uppercase;color: #e40046;font-family: 'gt_walsheim_boldregular';font-style: normal;padding-left: 10px;}
.small.drag-block.ml-0.f1{width: 200px !important;}
.createUsecaseForm{
    float: left;
    width: 100%;
}
.mrt-10{margin-top: 10px !important;}
.m-r-b-0{margin-bottom: 0;}
.p-model .ui-widget{
    background-color: #838383;
    border: solid 1px #838383;
    max-width: 566px;
}
.p-model .ui-widget .ui-widget-header{
    background: #fff !important;
    font-size: 24px;
    color: #642667 !important;
    height: inherit;
    padding:20px 20px 0 !important;
    height: 80px;
}
.p-model .ui-widget .ui-dialog-content{
    background: #fff !important;
}
.p-model .ui-widget .ui-dialog-buttonpane{
    border-width: 0;
    background-image: none;
    margin: 0;
}
.p-model .ui-widget .ui-dialog-titlebar-close {

    padding: .125em;
    cursor: pointer;
    border: 1px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.p-model .ui-widget .activation-box label{margin-bottom: 0}
.p-rule-model .ui-widget{
    background-color: #838383;
    border: solid 1px #838383;
}
.p-rule-model .ui-widget .ui-widget-header{
    background: #fff !important;
    font-size: 24px;
    color: #642667 !important;
    height: inherit;
    padding:15px 20px 0 !important;
    height: 80px;
}
.p-rule-model .ui-widget .ui-dialog-content{
    background: #fff !important;
}
.p-rule-model .ui-widget .ui-dialog-buttonpane{
    border-width: 0;
    background-image: none;
    margin: 0;
}
.p-rule-model .ui-widget .ui-dialog-titlebar-close {

    padding: .125em;
    cursor: pointer;
    border: 1px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.p-rule-model .ui-widget .activation-box label{margin-bottom: 0}
.small.drag-block.ml-0.f1{width: 200px !important;}
.createUsecaseForm{
    float: left;
    width: 100%;
}
.top-info{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    text-align: center;
    line-height: normal;
    font-size: 10px;
    color: #b4b4b4;
}
.top-info:hover,.bottom-edit:hover{cursor: pointer;}
.bottom-edit{
    position: absolute;
    bottom: 5px;
    right: 3px;
    width: 13px;
    height: 13px;
    line-height: normal;
    font-size: 13px;
    color: #b4b4b4;
}
.mr-t-12px{
    margin-top: -12px;
}
.seg-txt{
    color: #642667 !important;
}
.seg-txt i{
    margin-left: 5px;
}
.p-model .ui-dialog .ui-dialog-titlebar-icon:hover{
    background-color: transparent !important;
    border-color: transparent !important;
}
.p-model .ui-dialog-titlebar-icon{
    font-size: 18px;
}
.p-model .ui-dialog.ui-widget .ui-dialog-content{
    padding: 0em 1.5em !important;
    margin-top: -10px !important;
}
.p-rule-model .ui-dialog .ui-dialog-titlebar-icon:hover{
    background-color: transparent !important;
    border-color: transparent !important;
}
.p-rule-model .ui-dialog-titlebar-icon{
    font-size: 18px;
}
.p-rule-model .ui-dialog.ui-widget .ui-dialog-content{
    padding: 0em 1.5em !important;
    margin-top: -10px !important;
}
.live-icon{
    border-radius: 3px;
    background-color: #e40046;
    color: #fff;
    padding: 2px 4px;
    margin: 5px;
    font-size: 10px !important;
}
.sim-icon{
    background-color: #642667;
    border-radius: 3px;
    color: #fff;
    padding: 2px 4px;
    margin: 5px;
    font-size: 10px !important;
}
.live-icon:hover,
.sim-icon:hover{
    color: #fff !important;
}
.general-input{
    outline: 0;
    background: #f2f2f2;
    width: 200px;
    border: 0;
    margin: 0 0px 5px;
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    height: 19px;
    font-family: 'gt_walsheim_regularregular';
    box-shadow: inset 0px 2px 0 0 rgba(0, 0, 0, 0.05)
}
