<div class="row">
    <div class="heading-main col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Use Case </li>
            <li class="breadcrumb-item">Actions</li>
        </ul>
        <div class="add-action-btn"> 
            <a href="javascript:;" class="add_action_btn">
                <i class="fa fa-plus"></i>New Action
            </a> 
        </div>
    </div>
</div>
<div class="clearfix library-tab">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div id="tabMainDivLib" class="box-main">
                <ul class="nav nav-tabs" id="toolsNavTab" role="tablist">
                    <li class="nav-item"> <a #libli id="libLiTab" class="nav-link active" data-toggle="tab" href="#libTab" role="tab">Library</a> </li>
                </ul>
                <div class="tab-content fix-height-820" id="tools">
                    <div class="tab-pane active" id="libTab" role="tabpanel">
                        <div class="w-100 row">
                            <div class="col-sm-8 pr-0">
                                <input [(ngModel)]="libraryQuery" type="search" placeholder="Search "> 
                            </div>
                        </div>
                        <ul class="left-box-list caretmenu">
                            <li class="dropdown"> 
                                <a #sqra href="javascript:;" class="dropdown-toggle" id="storedQraDropdown" name="storedQraDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <i id='realTimeITag' class="caret"></i> Stored QRA
                                </a>
                                <div class="dropdown-menu left-submenu" aria-labelledby="storedQraDropdown">
                                    <ul class="left-side-submenu">
                                        <div *ngFor="let data of dataSet | filterarray:libraryQuery">
                                            <li (dblclick)="transferStoredQraDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['storedqraZone']" *ngIf="data.parenttype == 'storedQra'" [dragData]="data">
                                                <a class="dropdown-item" href="javascript:;"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown" > 
                                <a #rwds href="javascript:;" class="dropdown-toggle" id="rewardsDropdown" name="rewardsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <i id='batch-li' class="caret" ></i> Rewards
                                </a>
                            </li>
                            <li class="dropdown" > 
                                <a #chnnels href="javascript:;" class="dropdown-toggle" id="channelDropdown" name="channelDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <i id='batch-li' class="caret" ></i> Channels
                                </a>
                                <div class="dropdown-menu left-submenu" aria-labelledby="storedQraDropdown">
                                    <ul class="left-side-submenu">
                                        <div *ngFor="let data of dataSet | filterarray:libraryQuery">
                                            <li (dblclick)="transferChannelsDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['channelZone']" *ngIf="data.parenttype == 'channel'" [dragData]="data">
                                                <a class="dropdown-item" href="javascript:;"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown" > 
                                <a #comms href="javascript:;" class="dropdown-toggle" id="commsDropdown" name="commsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <i id='batch-li' class="caret" ></i> Comms
                                </a>
                                <div class="dropdown-menu left-submenu" aria-labelledby="storedQraDropdown">
                                    <ul class="left-side-submenu">
                                        <div *ngFor="let data of dataSet | filterarray:libraryQuery">
                                            <li (dblclick)="transferCommsDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['commsZone']" *ngIf="data.parenttype == 'comms'" [dragData]="data">
                                                <a class="dropdown-item" href="javascript:;"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="box-main">
                <div class="activation-box-main">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="toolsContentNavTab" role="tablist">
                        <li class="nav-item"> <a #actionParamli id="actionParamLiTab" class="nav-link active" data-toggle="tab" href="#actionParamContentTab" role="tab">1. Action Parameter</a> </li>
                        <li class="nav-item"> <a #advParamli id="advParamLiTab" class="nav-link" data-toggle="tab" href="#advParamContentTab" role="tab">2. Advanced Parameter</a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <!-- Tab panes -->
                    <div class="tab-content fix-height-750">
                        <div class="tab-pane active" id="actionParamContentTab" role="tabpanel"> tab1 </div>
                        <div class="tab-pane" id="advParamContentTab" role="tabpanel">
                            <div class="advance-tab-main scrollbar style-4 fix-height-740">
                                <form>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="advance-block">
                                                <div class="col-sm-3 col-md-3">
                                                    <div class="row">
                                                        <label>Success Criteria <i class="fa fa-info"></i></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="row">
                                                                <div class="radio-group">
                                                                    <ul>
                                                                        <li>
                                                                            <input type="radio" name="success" id="n-option">
                                                                            <label class="radio-label" for="n-option">None</label>
                                                                            <div class="check-radio"></div>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" name="success" id="r-option">
                                                                            <label class="radio-label" for="r-option">Recharge</label>
                                                                            <div class="check-radio">
                                                                                <div class="inside"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" name="success" id="u-option">
                                                                            <label class="radio-label" for="u-option">Usage</label>
                                                                            <div class="check-radio">
                                                                                <div class="inside"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" name="success" id="s-option">
                                                                            <label class="radio-label" for="s-option">Product Purchase</label>
                                                                            <div class="check-radio">
                                                                                <div class="inside"></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1 no-padding">
                                                            <div class="chevron"><i class="fa fa-chevron-right"></i></div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="row">
                                                                <div class="advance-block">
                                                                    <div class="radio-group">
                                                                        <ul>
                                                                            <li>
                                                                                <input type="radio" name="success" id="n-option-">
                                                                                <label class="radio-label" for="n-option-">None</label>
                                                                                <div class="check-radio"></div>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="success" id="r-option-">
                                                                                <label class="radio-label" for="r-option-">Recharge</label>
                                                                                <div class="check-radio">
                                                                                    <div class="inside"></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="success" id="u-option-">
                                                                                <label class="radio-label" for="u-option-">Usage</label>
                                                                                <div class="check-radio">
                                                                                    <div class="inside"></div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="success" id="s-option-">
                                                                                <label class="radio-label" for="s-option-">Product Purchase</label>
                                                                                <div class="check-radio">
                                                                                    <div class="inside"></div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1 no-padding">
                                                            <div class="chevron"><i class="fa fa-chevron-right"></i></div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="row">
                                                                <div class="advance-block">
                                                                    <div class="advance-bordered-box">
                                                                        <div class="advance-bordered-box-txt"><i class="fa fa-arrows"></i>Drag Model Here</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <div class="advance-block ">
                                                        <label>Recharge Channels <i class="fa fa-info"></i></label>
                                                        <ul class="drag-ul drag-content">
                                                            <li class="drag-block"> <a href="#"><i class="fa fa-arrows"></i>RECHARGE_CHANNEL_GROUP_1</a> </li>
                                                            <li class="drag-block"> <a href="#"><i class="fa fa-arrows"></i>RECHARGE_CHANNEL_GROUP_2</a> </li>
                                                            <li> <a href="#" class="bordered-box"><i class="fa fa-arrows"></i>Drag Recharge Channel Group Here</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                <div class="row pull-right">
                                                    <div class="creteria-btn"> <a href="#">Criteria</a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="row">
                                                    <div class="advance-block  rewards">
                                                        <label>Rewards <i class="fa fa-info"></i> <span class="pull-right">Optional</span></label>
                                                        <ul class="drag-content">
                                                            <li>
                                                                <div class="bordered-box no-bg">
                                                                    <ul>
                                                                        <li>
                                                                            <ul class="drag-ul drag-content">
                                                                                <li><span>1</span>
                                                                                    <div class="drag-block"><a href="#"><i  class="fa fa-arrows"></i>REWARD_1</a> </div>
                                                                                </li>
                                                                                <li><span>2</span>
                                                                                    <div class="drag-block"><a href="#"><i  class="fa fa-arrows"></i>REWARD_2</a> </div>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul> <a href="#" class="close-drag"><i class="fa fa-close"></i></a> </div>
                                                            </li>
                                                            <li>
                                                                <div class="bordered-box no-bg">
                                                                    <ul>
                                                                        <li>
                                                                            <ul class="drag-ul drag-content">
                                                                                <li><span>1</span>
                                                                                    <div class="drag-block"><a href="#"><i  class="fa fa-arrows"></i>REWARD_1</a> </div>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul> <a href="#" class="close-drag"><i class="fa fa-close"></i></a> </div>
                                                            </li>
                                                            <li> <a href="#" class="bordered-box"><i class="fa fa-arrows"></i>Drag Reward Here</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="row">
                                                    <div class="advance-block channels">
                                                        <label>Channels <i class="fa fa-info"></i> <span class="pull-right">Optional</span></label>
                                                        <ul class="drag-content" dnd-droppable [dropZones]="['channelZone']" (onDropSuccess)="transferChannelsDataSuccess($event.dragData)">
                                                            <li> <a href="#" class="bordered-box"><i class="fa fa-arrows"></i>Drag Channel Here</a> </li>
                                                        </ul>
                                                        <div id="dropChannelArea" class="style-4 drag-item scrollbar" *ngIf="channelList.length > 0">
                                                            <ul class="drag-ul" dnd-sortable-container [sortableData]="channelList">
                                                                <li  dnd-sortable [sortableIndex]="i"  *ngFor="let channel of channelList;let i = index"> 
                                                                 <div class="drag-block ">
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-arrows"></i>{{channel.name}}
                                                                        </a>
                                                                        <i class="pull-right fa fa-remove"></i> 
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="row">
                                                    <div class="advance-block comms">
                                                        <label>Comms <i class="fa fa-info"></i> <span class="pull-right">Optional</span></label>
                                                        <ul class="drag-content" dnd-droppable [dropZones]="['commsZone']" (onDropSuccess)="transferCommsDataSuccess($event.dragData)">
                                                            <li> <a href="#" class="bordered-box"><i class="fa fa-arrows"></i>Drag Comms Here</a> </li>
                                                        </ul>
                                                        <div id="dropCommsArea" class="style-4 drag-item scrollbar" *ngIf="commsList.length > 0">
                                                            <ul class="drag-ul" dnd-sortable-container [sortableData]="commsList">
                                                                <li  dnd-sortable [sortableIndex]="i"  *ngFor="let comm of commsList;let i = index"> 
                                                                 <div class="drag-block">
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-arrows"></i>{{comm.name}}
                                                                        </a>
                                                                        <i class="pull-right fa fa-remove"></i> 
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="advance-block">
                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <label>Qualifying Period <i class="fa fa-info"></i> <span class="pull-right">Optional</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="row">
                                                                <p>Offer Period</p>
                                                                <input type="text"> <span class="advanceday"> Days</span> </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="row">
                                                                <p>Optin Period</p>
                                                                <input type="text"> <span class="advanceday"> Days</span> </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="row">
                                                                <p>Reminder Period</p>
                                                                <input type="text"><span class="advanceday"> Days</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="row">
                                            <div class="addBtn advance-btn"> <a data-brackets-id="36819" href="#"><i data-brackets-id="36820" class="fa fa-plus"></i></a> </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 clearfix footer-button">
                        <div class="float-right"><a href="#" class="purple-btn">Cancel</a> <a href="#" class="pink-btn mr-2">Save</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>